[2018-08-10 16:21] rakibtg opened #1 "No default storage location - SleekDB 0.7.1"
SleekDB 0.7.1 saves data inside the `vendor` directory if no custom path was found inside the config file, but it seems to be confusing and a very good chance that the developer would lost all the data while doing a compose update or installation.

The solution would be simpler,
- Look for a location in the config file, where SleekDB can write data.
- If no default location was provided in the con

[2018-08-15 06:05] #1 closed

[2019-01-13 17:08] thecosss opened #4 "Strange behavior"
`require_once "../SleekDB/SleekDB.php";
$db = new \SleekDB\SleekDB( "../mydb" );
$ordersStore = $db->store('orders');
$tasksStore = $db->store('tasks');
$workersStore = $db->store('workers');`

When I print_r $ordersStore or $tasksStore it actually prints workersStore
If i comment $workersStore variable assign it will print tasksStore and so on.

[2019-01-16 11:13] rakibtg commented on #4
Hi @thecosss
Have you installed it using composer?
Can you show me your code? because i cant re-produce the bug!

[2019-01-16 11:31] rakibtg commented on #4
@thecosss Here is a quick fix,
[code]
Instead of using the variable always use the `$db` instance to access and insert data into the store.

[2019-01-18 04:38] rakibtg commented on #4
@thecosss This bug is now fixed, `store` is now a static method in the new api. So you can do this:
[code]
Take a look at the updated doc: https://sleekdb.github.io/#getting-started

[2019-01-18 04:39] #4 closed

[2019-03-20 08:59] dima-stefantsov opened #5 "Conditions are not reset"
Hi. I'm trying to use SleekDB like shown in manual.

[code]

$code1 have one item, like it should. $code2 have 0 items, while it should have 1, $codes_all have 0 items, totally unlike it should.

I have looked through the code and I can see it's because on every -> where() call, local variable conditions[] are appended. Conditions have stacked through the calls, this is why just pure $db_codes->fe

[2019-03-20 10:31] dima-stefantsov opened #6 "Wrong namespace"
[code]

[code]

Can not use deleteStore() function at all. How do you even commit code without checking? Starting to get disappointed, if it has this level of errors on the surface, it's getting obvious this code is not used at all, who knows what other bad things happen inside.

[2019-03-20 17:24] Kulltero commented on #5
i just came across this bug/issue aswell. hoping that this was allready addressed.

but after realizing that it wasnt i simply decided to dig arround a bit inside the code.
i realized that the conditions allways get added into a new sub-array of the conditions array, so i simply deleted the conditions array after every fetch, update, insert or delete (not using insertMany so didnt bother to change

[2019-03-20 18:17] rakibtg commented on #6
@dima-stefantsov I'm really sorry for the inconvenience; fix coming tomorrow :)

[2019-03-20 18:42] rakibtg commented on #5
@dima-stefantsov and @Kulltero Many thanks for the details :)
@Kulltero Instead of setting `$this->conditions = []` i think we should use `$this->initVariables()`

Tomorrow i think i will do a new release. In the meantime if you want to contribute please feel free to send a PR.

🍻

[2019-03-20 18:44] rakibtg commented on #5
@dima-stefantsov If you need a quick fix then please replace `fetch()` method from `SleekDB.php` as this:
[code]

[2019-03-20 18:57] dashpilot opened #7 "Update multiple records at once"
Is it possible to update multiple records at once? My use case is that I need to change one value in several records (in the same store) at once. I tried it in a loop, but that doesn't seem to work as expected.

[2019-03-20 19:05] rakibtg commented on #7
@dashpilot It would be great if you can show some code :)
Did you try multiple `where` methods? Example:
[code]

[2019-03-20 19:20] dashpilot commented on #7
Thanks for your fast reply, love SleekDB a lot!

I'm trying to give each entry a different 'order_id', for ordering entries. I tried it a few days ago, but did something like:

`
$order = [14,23,7,2]; // these are the entry id's

$i=0;
foreach($item as $val){

$data = array( 'order_id' => $i);
$postsDB
    ->where( '_id', '=', $val)
    ->update($data);

$i++;
}
`

[2019-03-21 16:31] rakibtg commented on #7
Hi @dashpilot
I just did a new release [version 1.0.3](https://github.com/rakibtg/SleekDB/releases/tag/1.0.3).
Please update to version `1.0.3` and this bug should be fixed now.
Please let me know if it works for you or if you are facing any other issues :)

[2019-03-21 16:37] rakibtg commented on #6
Hi @dima-stefantsov
I just did a new release [version 1.0.3](https://github.com/rakibtg/SleekDB/releases/tag/1.0.3).
Please update to version `1.0.3` and this bug should be fixed now.
Please let me know if it works for you or if you are facing any other issues :)

[2019-03-21 16:38] rakibtg commented on #5
Hi @Kulltero, @dima-stefantsov
I just did a new release [version 1.0.3](https://github.com/rakibtg/SleekDB/releases/tag/1.0.3).
Please update to version `1.0.3` and this bug should be fixed now.
The instance state will be reset on `fetch()`, `update()`, and `delete()` method from now.
Please let me know if it works for you or if you are facing any other issues :)

[2019-03-21 16:55] dashpilot commented on #7
Hi @rakibtg
I just tested version 1.0.3, and it works like a charm now! Thanks for the quick fix and and for making SleekDB as awesome as it is :)

[2019-03-21 16:56] dashpilot commented on #7
I'll close the issue now, fixed.

[2019-03-21 16:56] #7 closed

[2019-03-21 17:26] rakibtg commented on #7
@dashpilot Great to know that you liked it :)

[2019-03-21 21:38] dima-stefantsov commented on #5
I've considered this solution, but my deployment process does not support editing of vendor files.
I just did
[code]

Btw having to write `->where('_id', '=', $code['_id'])` to update just single item looks super weird. I haven't found a proper way to save changes made to fetched items.

[2019-03-22 04:44] rakibtg commented on #5
@dima-stefantsov Did you upgrade sleekdb to `1.0.3`?

So do you think the `update` method should return the new updated document?

[2019-03-22 04:44] #6 closed

[2019-03-23 18:14] #5 closed

[2019-04-20 09:18] selfclose opened #8 "Option for _id"
Sleek is generate id as "_id"
But Can it have an option for name it just "id" without underscore

[2019-04-20 19:48] rakibtg commented on #8
Hi @selfclose!

`_id` is a reserved index for a store, SleekDB will internally make use of `_id` heavily to sort and discover each documents under a store.
At this moment it doesn't allow custom name for this index.

[2019-04-20 19:48] #8 closed

[2019-08-10 04:52] qinst64 opened #9 "reuse clause?"
Below is a working clause, which I check existence and update data:
[code]
Since the __where clause__ are so long and duplicated, my first mind is to rewriting it:
[code]
It is not working as expected. A similar example would be
[code]
So, the `fetch()` is actually affecting the `$query` itself, rather than a copy of `$query`.
I would personally prefer the reuse way would be designed and implement

[2019-08-10 15:51] rakibtg commented on #9
Are you using version `1.0.3`?

[2019-08-10 16:24] rakibtg commented on #9
The `fetch` method will reset the active query; this was an intentional change.
To solve the particular problem as you have stated above, we can introduce a new method like `fetch` but will not reset the active query state. We might call it `shallowFetch` or something like that!
So, i would like to ask you what you think regarding this change?

[2019-08-10 16:38] rakibtg commented on #9
Hi @qinst64 i've just implemented `shallowFetch` method that will not reset the active state of the query and will let you update on the existing db object.
The code looks like this now:
[code]
I think i will merge the code with master tomorrow after doing some test.
Also, can you help to name the method that makes more sense instead of calling it `shallowFetch`? :D

[2019-08-10 18:09] rakibtg opened #12 "Improving document discovering performance."
Huge improvement lacks while discovering documents with each conditions. Add progressive document discovery of documents.
Example:
[code]

[2019-08-10 19:14] rakibtg opened #13 "Implement `in` clause."
Implement `whereIn` clause
Example:
[code]

[2019-08-10 19:17] rakibtg opened #14 "Implement `whereNotIn`."
Implement `whereNotIn`.
Example:
[code]

[2019-08-11 02:54] qinst64 commented on #9
Thanks for the response, the naming is fine.

I may not investigate deep, Is there any consideration not making it the default behavior?
The `shallowFetch` works like a charm now, yet If there is a case in the future someone asks for a `shallowUpdate`, `shallowInsert`, `shallowDelete`?

[2019-08-11 06:28] rakibtg commented on #9
Not resetting the conditions will create more confusions, i think a new method like `keepConditions` would make more sense. Example:
[code]
Also, i don't think that `shallowInsert` and `shallowDelete` will have any practical use.

[2019-08-11 17:37] #14 closed

[2019-08-11 17:37] #13 closed

[2019-08-11 17:56] #12 closed

[2019-08-12 00:26] rakibtg commented on #9
Added `keepConditions` method to keep the conditions of the query.
Example:
[code]

[2019-08-12 00:26] #9 closed

[2019-08-16 11:07] gingdz opened #17 "count data"
plase add function to count records

[2019-08-17 19:21] rakibtg commented on #17
Hi @gingdz, you can use `count` function. Example:
[code]
I will close the issue, feel free to reply to this issue if your problem was not solved.

[2019-08-17 19:21] #17 closed

[2019-08-23 11:32] ooa113y opened #18 "Implement predicate-based filters"
This would allow to implement any custom filter the user desires alongside with the existing simple filters of `where`, `orWhere`, `in`, etc. Example code would look like:
[code]

[2019-08-24 15:13] rakibtg commented on #18
@ooa113y That's an excellent idea! Do you have any solution in mind?

[2019-08-24 15:15] ooa113y commented on #18
Ah, sorry, I have unfortunately not even looked at the actual code of SleekDB, so I have no idea how to go about implementing this myself.

[2019-09-09 06:21] juancarmo opened #19 "any benchmark?"
did you do any benchmark comparison ?

[2019-09-09 18:18] rakibtg commented on #19
Hi @juancarmo
SleekDB was made for very simple websites that requires less write operations, hence there is no comparison yet.

[2019-09-09 18:18] #19 closed

[2019-09-27 22:06] 684102 opened #20 "multiple [where] not working"
### **Tested with json:**
`{"gid":"1569621024PFtZD","time":1569621299,"type":"2","who":"a54641235","short":"cccccccccccccccccccccccccccccc","num":"1","_id":2}`

### **Source code:**
[code]
### **Response:**
[code]

[2019-09-27 23:47] #20 closed

[2019-10-28 12:20] snoopy4ever opened #22 "Multiple where() condition doesn't work"
Hello there,

I have a problem with multiple where() conditions for my DB, I have start and end dates for my news article, I'm trying to do following to select 'active' news item:

[code]

Looks like first condition is completely ignored and only second one is applied.

Any help please?

[2019-10-28 20:48] typomedia commented on #22
Got the same issue!

[2019-11-01 10:33] lukasznowicki commented on #22
@snoopy4ever @typomedia @rakibtg  Guys, here is the solution for this problem - https://github.com/rakibtg/SleekDB/pull/23

I also forked (to create PR) this repository and merged that fix - https://github.com/lukasznowicki/SleekDB

[2019-11-01 11:24] snoopy4ever commented on #22
Nice one mate 👍
Dzieki Lukasz 🥇

[2019-11-01 12:38] rakibtg commented on #22
@lukasznowicki thanks for the contribution, appreciate that you take the time and to fix the issue. I will merge your PR today!

[2019-11-04 08:59] thecosss commented on #22
So where is the merge?!

[2019-11-04 09:06] thecosss commented on #22
@lukasznowicki Didn't worked for me. I copied your src/traits/helpers.php but the bug is still there (

[2019-11-30 13:14] rakibtg commented on #22
@snoopy4ever I think you should use `orWhere` like this:
[code]

[2019-11-30 13:54] rakibtg commented on #22
I will close the issue here, feel free to post a comment and re-open it.

[2019-11-30 13:54] #22 closed

[2019-12-30 18:49] #18 closed

[2020-01-05 19:53] jpsarda opened #25 "->where()->where() works like a OR condition"
Love this library. I think the ->where()->where()  conditions works like an **OR** condition.
I've added this line to make it work as I expected (as a **AND** condition) in helpers.php.

[edit] not exactly a OR condition, it's the last where clause that decides if the conditiosn are OK.

[code]

[2020-01-06 06:10] justanthonylee opened #26 "High load distributed version"
I love this project, I have been exploring it all day and worse case it will serve as a base for what I need.

I am really looking for ideas or suggestions on how to use this in the best case. I am working on a large indexing system to store and index pages as text. It will store longer strings in a "database" with a key for easy lookup and fetching and page content down to sentences can be split

[2020-01-06 13:21] rakibtg commented on #26
Hi @anthonyrossbach I really appreciate that you are willing to invest your time to explore the internals of SleekDB!

When I have started working for SleekDB my primary intention was to make it suitable for high read operation as if it's fetching data from a static file(The cached JSON files)!
So I quoted on the website that,

You might have already realised that for each insert operation it crea

[2020-01-06 15:24] rakibtg commented on #25
Hi @jpsarda Can you show some demo data with the query you are using so I can easily reproduce this issue?

Thanks

[2020-01-06 17:24] anthonyrossbach commented on #26
I love the idea of this and I am willing to make modifications and push changes like this. I have used static file engines a lot early on and I know due to larger projects I don’t want to waste overhead on MySQL or engines when most data will be read once the original data is written.

I will do some digging, I have a few ways I can think of to add the features you suggested and maybe even a CRON

[2020-01-07 12:18] rakibtg commented on #26
That would be great! 💪

Please send PR and if you need to discuss about any part of the code or idea feel free to knock me in twitter or other platform of your choice.

Cheers

[2020-01-22 12:23] venkycc opened #27 "Great work! (suggestion, not an issue)"
Looks like a mini_mongo db :-)
Each record is stored in a json file with an indexed value starting from 1. It will be nice to have a custom prefix to this... dynamically.

For example, i would prefer to prefix it with a username so that whenever i am in a hurry, i can open the related .json file straightaway instead of doing a find or instead of using sleekdb to find it

Is this doable?

[2020-01-22 13:43] rakibtg commented on #27
Hi @venkycc At this moment it's not doable, but it is possible. Noted!
Thanks

[2020-01-22 13:44] #25 closed

[2020-01-23 08:33] #27 closed

[2020-02-15 14:51] thecosss opened #28 "How to delete data from a doc?"
![image](https://user-images.githubusercontent.com/4847308/74590011-37dc3300-5013-11ea-9de2-44d8c5c511b1.png)
I have messed up my doc, how can I delete keys from 1 to 19?

[2020-02-17 05:27] rakibtg commented on #28
You can use the `update` method!
Example:
[code]
If this was not the solution you were looking for, please add more details in your question!

[2020-02-17 09:54] thecosss commented on #28
Ok, but what should be in $updateable in my case?
I've tried this and that didn't work
`$res2 = $workersStore->where('chat_id', '=', '66797039')->fetch();
unset($res2[0]['1']);
unset($res2[0]['2']);
unset($res2[0]['3']);
unset($res2[0]['4']);
unset($res2[0]['5']);
unset($res2[0]['6']);
unset($res2[0]['7']);
unset($res2[0]['8']);
unset($res2[0]['9']);
unset($res2[0]['10']);
unset($res2[0]['11']);
u

[2020-02-17 16:28] rakibtg commented on #28
@thecosss You can do something like this:
[code]
Hope it helps!

[2020-02-17 18:50] thecosss commented on #28
Well, update($updatable) doesn't remove those keys, it just updates indicated keys

[2020-02-18 16:58] rakibtg commented on #28
@thecosss Can you show me your code snippet of inserting this data?

[2020-02-19 11:58] thecosss commented on #28
I don't have it but it was exactly like yours. Also I don't have this problem any more since I've deleted the doc and inserted new one.

[2020-02-19 17:02] rakibtg commented on #28
@thecosss Glad you fixed it! I will close the issue.

[2020-02-19 17:02] #28 closed

[2020-02-20 05:31] rakibtg commented on #26
Hi @anthonyrossbach Do you have any update?

[2020-02-20 05:42] anthonyrossbach commented on #26
I am still playing around with the idea, got distracted with a lot of other projects. I may have a good use case here soon outside of the original.

[2020-02-20 05:45] rakibtg commented on #26
Great! I'm going to keep this issue `Open`.

[2020-02-20 08:39] adrianvoica opened #29 "Encrpytion and authentication"
Please consider adding some form of full file encryption (e.g.: Mcrypt?) for the stored JSON files.
Also, please consider adding some form of user authentication (a nice to have).
Keep up the good work!

[2020-02-22 18:47] rakibtg commented on #29
@ adrianvoica It seems like Mcrypt is removed in in PHP 7.2 and introduced [Sodium](https://www.php.net/manual/en/intro.sodium.php). Sodium is not available in old versions of PHP including 7.1!
Do you have any thoughts/opinion on this?

[2020-02-23 09:17] adrianvoica commented on #29
@rakibtg Well, I am not talking about an actual implementation of a certain algorithm, I am just saying there could be placeholder method (custom hook) that, when present, will encode / decode the data right before writing / after reading from the actual files (based on the user's preference of an algorithm, either an established one or a custom built one). Same goes for authentication. If these 2

[2020-02-26 12:01] 684102 commented on #29
You shoud try AES-256 Encryption Class bellow.

Very simple to use

`require_once('class.php');
$password = 'something';
$encrypted_data = haes::encrypt($_POST['text_plain'] ,$password);
$decrypted_data = haes::encrypt($encrypted_data ,$password);
`

Class.php

`<?php
/*
*					[HOAKHUYA] (C) 2010-2099 Lengend Hackers World~
*
*			1)	This script powered by HoaKhuya Group and for internal circulatio

[2020-02-26 14:49] rakibtg commented on #29
@684102 Sure! Send a PR I will check your implementation.. Any contributions are always welcome :)

[2020-04-29 19:20] joemottershaw opened #30 "Possibility of duplicate ID’s"
If 2 data arrays were inserted into a store/table from separate requests at exactly the same time, for example 2 comments from 2 different users. What would stop these inserts from using the same ID?

I know the probability is unlikely but is there a system in place to prevent this?

I did look to see if `flock` was used but couldn’t find anything.

[2020-04-30 09:31] petrfilip opened #31 "OR Condition Query"
Hi Hasan, I am very exciting about your SleekDB project. I started to using it to build simple headless CMS. And the orWhere is little bit limitating to me. I would like to use construction such as `Where(firstCondition)->Or(anotherCondition, anotherOneCondition)`. I think, actually something like this is not possible to do it in one query. What do you think about the idea?

If you like it, I can

[2020-05-02 14:41] rakibtg commented on #31
@petrfilip That sounds great!
Please send a PR and also if you need any help from me feel free to post a reply here.

[2020-05-02 14:48] rakibtg commented on #30
@joemottershaw The unique ID is being generated from this method: https://github.com/rakibtg/SleekDB/blob/master/src/traits/helpers.php#L121-L131

File locking and waiting functionalities will be added in the next version.

[2020-05-09 14:24] derit commented on #26
for distributed system it's possible, for example master node, second node and other node, we can clustering horizontal and make infinity  storage, for inode, i'ts another issue for web hosting
i think have two options  for combine storage as single file or default one per one

[2020-05-19 17:04] Steinweber opened #32 "Better code base"
First of all, nice work.
But it would be much easier to help you with the expansion and development, then the structure would be different.
As an example it is not easy to build memcached / APCu or Redis as cache here.
Also the choice of the storage format (JSON / Serialze) can't be easily extended here, because absolutely no changes to the code are planned. Whereby this would be very easy to do.

[2020-05-21 15:31] rakibtg commented on #32
Hi @Steinweber, hope you are doing great!
I have been thinking the same at this time being, looking for some available time and recommendations as well. Besides that I am planning for a version 2 of SleekDB where it can iterate over inline JSON in a single file.
I am testing different implementations and the inline JSON implementation is also super fast, as it can traverse and check for JSON data

[2020-06-04 08:06] Steinweber commented on #32
Im working on a new version. But i have some problems with the memory usage.
Loading JSON to PHP array incrase the memory by factor 3.5 - 4 of json string size.
A 1,8 mb json will result in 6,7 mb memory usage.

With 256 mb memory i can use 250.000 - 280.000 Objects like this

`{
    "id": 12,
    "first_name": "Gabriello",
    "last_name": "Hirjak",
    "email": "ghirjakb@whitehouse.gov",
    "ge

[2020-06-04 11:27] Steinweber commented on #26
It is not a good idea to store medium / large texts or images in this type of database.

Extreme example:
500 objects like this
$obj->id = token(32);
$obj->content = text (length 5,000 characters)

When saving and loading, >95% unnecessary data is encoded, decoded, read and written.
Better:
$text = new SideLoadObject(type=text,text(5,000 characters));
$obj->id = token(32);
$obj->content = $text;

[2020-06-08 07:07] NoBodyButMe opened #33 "Open and import existing json-files"
May sound as a stupid question, but how can I read and edit existing JSON files?

[2020-06-09 18:17] rakibtg commented on #33
Please follow the documentation at https://sleekdb.github.io/
- [Fetch](https://sleekdb.github.io/#fetch-data) to read data
- [Edit](https://sleekdb.github.io/#edit-data) to update data
- [Delete](https://sleekdb.github.io/#delete-data) to delete data

Please re-open this issue with the code example that you are facing trouble with.

[2020-06-09 18:17] #33 closed

[2020-07-27 11:05] haan78 opened #34 "Like Condition"
I added these lines into the
HelpersTrait->verifyWhereConditions

else if ( $condition === "like" ) {
        if ( strpos($fieldValue,$value) === false ) return false;
      }
it looks fine.

[2020-07-31 11:26] rakibtg commented on #34
I think using regular expression instead of `strpos` would be a better idea to mimic the behaviour of the `LIKE` clause.

[2020-08-16 10:33] ostankin commented on #25
I think I can. Just stumbled upon the same problem, pretty similar to https://github.com/rakibtg/SleekDB/issues/22. I checked out version 1.5.1, but it reproduces there as well.

Here is my code:

[code]

This code creates three records with three timestamps (I made them small and round for simplicity). Then I made a query that is expected to return only the last record, whrere `stars` equals `4`.

[2020-08-16 13:08] ostankin commented on #25
Ok, my bad - I messed up the versions. Version `1.5.1` indeed fixes the issue. Sorry, disregard the above.

[2020-09-15 09:11] Timu57 commented on #26
I wanted to know how to make non-blocking file writes in PHP and found a nice Article about the performance of non-blocking writes to a File with PHP:

https://grobmeier.solutions/performance-ofnonblocking-write-to-files-via-php-21082009.html

The author used a script that wrote 10000 times 100 characters in a freshly created log file.

The two best solutions he came up with are:

[code]
0.1489989

[2020-09-15 09:54] Timu57 opened #37 "Better search algorithm"
Hi,

first of all great work and project.

It looks like the build in similar_text() function is not perfect.

I just made some little tests, but it looks like the returned percentages are not always what I expected.

**It would be awesome if we can add some his string normalization**:
https://stackoverflow.com/questions/35923029/similar-text-percentage-in-php

[code]

**And/Or add some math from

[2020-09-15 15:24] rakibtg commented on #26
@Timu57 I think writing is not a big issue but deleting and updating data is the most difficult thing to handle if we target a single file based system.

[2020-09-15 15:28] rakibtg commented on #37
@Timu57 This would be a great improvement, I will have to look at it in this weekend and hoping that it would be an easy implementation.

[2020-09-23 15:45] brunogrenier opened #38 "Supress Key on fetch"
**Not show** some keys on fetch.

**1- have a store:**

[
{
"name":"Bruno",
"country":"Brazil",
"age":"35",
"_id":1
},
{
"name":"Hasan",
"country":"Bangladesh",
"age":"30",
"_id":2
},
{
"name":"XYZ",
"country":"Z",
"age":"20",
"_id":3
},
{
"name":"ABC",
"country":"C",
"age":"10",
"_id":4
}
]

**2- Fetch supressing keys "age" and "id":**

$store= \SleekDB\SleekDB::store("example", dirname(__FILE__)

[2020-09-23 16:14] REDAL opened #39 "Saving format is wrong"
**When trying to insert data using insert command**

It saves data like this :
![image](https://user-images.githubusercontent.com/7544360/94039790-6fd8ff00-fdc8-11ea-92f8-4643b1987f40.png)

instead of this:
![image](https://user-images.githubusercontent.com/7544360/94039807-75364980-fdc8-11ea-94da-f79e5eea94f4.png)

so, when I am trying to fetch data with conditions like (where, in) it returns an

[2020-09-23 19:28] rakibtg commented on #39
@REDAL
To insert:
[code]
Data will be inserted like this:
[code]
Applying where condition:
[code]

Documentation available here: https://sleekdb.github.io/

[2020-09-23 19:30] #39 closed

[2020-09-23 23:44] REDAL commented on #39
**### Thank you Mr Hasan,  for the reply, it works fine now.
have a nice day and be safe**

[2020-09-26 17:16] Timu57 commented on #34
#40 new Like-Condition, implemented with regular expressions and preg_match

[2020-10-09 08:02] wuspum opened #41 "Return distincted value"
Is there an option to fetch distincted single values?

For example $store->select('name')->distinct()->where(...)->fetch();

[2020-10-17 19:44] rakibtg opened #42 "JOIN feature"
I have started working on JOIN feature. This is how the query would look like:
[code]
Code lives in [feature/join](https://github.com/rakibtg/SleekDB/tree/feature/join) branch.

Let me know your thoughts.

[2020-10-17 19:48] rakibtg commented on #42
Data output for above sample query:
[code]

[2020-10-17 19:49] rakibtg commented on #42
Working on:
- [ ] Add code commenting
- [ ] Add multiple store join feature.
- [ ] Documentation

[2020-10-19 20:37] brunogrenier opened #43 "Cache based on key"
Its possible to create automatic cache based on key?

**Define AUTOMATIC CACHE for Key "country" on store $members.**

The idea is all distinct values on key "country" (Brazil, Bangladesh, Z, C) would have automatic cache for fast fetch.
(each data update, would update automatically the cached data)

Example:
1- have a store $members=

[
{
"name":"Bruno",
"country":"Brazil",
"age":"35",
"_id":1
},

[2020-10-20 18:50] einicher opened #44 "Extend not possible due to private helper methods"
Hello, please consider to make the private helper methods protected. It is not possible to extend SleekDb this way. After setting `bootStore` and `initVariables` from private to protected i was able to extend, but also had to copy the whole store method:

[code]
Now i can do `LibreSleekDb::store('articles', $dataDir);`

[2020-10-21 15:39] Timu57 commented on #42
That is an awesome idea!

Wouldn't it be nicer if we could tweak the join method, for a much easier use?

I am thinking about something like this:

[code]

With an usage like this:

[code]

[2020-10-21 15:47] rakibtg commented on #44
Can you tell me a little more about this use case, why you wanted to extend it instead of initialising it directly inside the `LibreSleekDb` class?

[2020-10-21 15:51] rakibtg commented on #42
@Timu57 Thanks for your input. I have thought about it at first, but then I realised that we could achieve more with closure JOIN function.

For example,

- Nested join
- Nested join pagination
- Sorting ... etc.

Let me know your opinion.

[2020-10-21 16:07] einicher commented on #44
I guess thats how I am used to handle oop. I need to extend the functionality of SleekDB methods and add some new ones. So i extend and overwrite them. Original api stays intact (and is well documented) but gets additional features as I need them. In this first case I needed fetch to return objects, not assoc arrays.

[2020-10-21 17:26] Timu57 commented on #42
@rakibtg Your right, for more complex joins that is excellent and a very nice solution.

I think if the developer just needs simple joins, providing an alternative method can make the business code much cleaner and the usage much easier.

[code]

If the developer has to join three stores:

[code]
If the developer needs for example also the articles related to the comments:
[code]

But I don't know

[2020-10-21 18:39] rakibtg commented on #43
Hi @brunogrenier, I'm not sure if this will be possible at this moment, the entire caching mechanism depends on the query chain, the generated _id field has no effect here.

I will close this issue, feel free to reopen.

[2020-10-21 18:39] #43 closed

[2020-10-21 18:43] rakibtg commented on #44
@einicher Thanks for the details, I will look into it. If you have any further input on this in the mean time let me know.

[2020-10-21 22:12] brunogrenier commented on #43
It is OK!
SleekDB is awesome!!!

________________________________
De: Kazi Mehedi Hasan <notifications@github.com>
Enviado: quarta-feira, 21 de outubro de 2020 18:39
Para: rakibtg/SleekDB <SleekDB@noreply.github.com>
Cc: brunogrenier <brunogrenier_cwb@hotmail.com>; Mention <mention@noreply.github.com>
Assunto: Re: [rakibtg/SleekDB] Cache based on key (#43)

Hi @brunogrenier<https://github.com/brun

[2020-11-08 12:16] einicher opened #46 "Like operator not in packagist version?"
This like operator does not seem to be available in SleekDB installed by composer:

https://github.com/rakibtg/SleekDB/blob/9f4c2d95fcb7871955c066dc455a52165d2099dd/src/Traits/HelperTrait.php#L237

how come?

[2020-11-10 14:35] ajoudeh opened #47 "Date Rang"
Hi,

Is Date  Range filter supported or not?

Thanks,

[2020-11-11 10:51] Timu57 commented on #46
Hi,
I think the owner wants to implement the join feature before releasing a new version with the recently made updates.

If you want the latest and greatest without waiting, just type the following command to get the dev-master branch version:

[code]

[2020-11-11 10:59] Timu57 commented on #47
Hi,
the BETWEEN functionality is not implemented yet but it is a good idea.

You can use a combination of the greater and less conditions as an alternative.

For example:
[code]

[2020-11-11 13:26] ajoudeh commented on #47
Im using this combination but it is not working.

[2020-11-11 13:35] ajoudeh commented on #47
And is it working if the time exist?
Sample json

{"FacilityId":"02","User_id":"0834505","Parent_desc":null,"Status":null,"Event_date":"2020-09-14 17:54","_id":68}

[2020-11-11 13:52] Timu57 commented on #47
It should work if you save a timestamp instead of a string.

https://www.php.net/manual/de/datetime.gettimestamp.php
[code]
alternatively in one line:
[code]

Later you can convert it back to a string like this:

https://www.php.net/manual/de/datetime.format.php
[code]

[2020-11-11 13:54] ajoudeh commented on #47
Ok I will try this solution.
Thanks,

[2020-11-11 13:54] #47 closed

[2020-11-11 17:20] rakibtg commented on #46
Yes indeed, thanks @Timu57. I am working on the documentation page (content+redesign). I will try my level best to publish it soon by releasing with a new version tag.
<img width="1552" alt="Screenshot 2020-11-11 at 11 18 28 PM" src="https://user-images.githubusercontent.com/5412730/98842889-6721b280-2474-11eb-9bd3-4b020fa05c70.png">

[2020-11-17 23:03] BLLuis opened #48 "delete status"
Would be cool to return the count of deleted records. I do a fetch before to know the number of records that will be deleted.

[2020-11-20 17:13] rakibtg commented on #48
@BLLuis Hi! Can you show an example of how you would like to consume the delete status method in the query?

[2020-11-21 00:52] nickbe commented on #37
Any news regarding rated queries?

[2020-11-21 02:20] rakibtg commented on #37
@nickbe No updates yet, I think I will work on it after the next release.

[2020-11-21 04:00] rakibtg opened #50 "A method to directly read the document by it's _id"
Right now to find a document by it's `_id` the system will go through all the checks it has to fetch data from documents.
As the file name of a document is identical to its `_id` and as this id will be auto generated by the system so I think it's safe and efficient to have a method `findById` which will directly read a json file of that store and return the data instead of going through all the st

[2020-11-21 05:00] BLLuis commented on #48
Hi, something like this:

$deletedCount = $store->blahblah->delete();
print_r($deletedCount . " registers removed");

Simple as "return the count of deleted records".
Thanks

[2020-11-21 05:02] BLLuis opened #51 "update return value"
The update function returns true even when the underlying file_put_contents return false due to security permissions.
So, nothing where updated in the register but update returns true, see PHP log Warning:

[Sat Nov 21 01:24:51.072446 2020] [php7:warn] [pid 1870] [client 111.111.111.111:1234] PHP Warning:  file_put_contents(/home/user/data//278.json): failed to open stream: Permission denied in /p

[2020-11-21 17:11] rakibtg commented on #51
@BLLuis What version you are using?

[2020-11-21 22:09] Timu57 commented on #51
The issue is here:

https://github.com/rakibtg/SleekDB/blob/9f4c2d95fcb7871955c066dc455a52165d2099dd/src/SleekDB.php#L205

We could fix this bug by using it like this:

[code]

[2020-11-21 22:14] Timu57 commented on #48
We could provide this functionality very easy by adding a counter-variable to the delete function and incrementing it with this loop:

https://github.com/rakibtg/SleekDB/blob/9f4c2d95fcb7871955c066dc455a52165d2099dd/src/SleekDB.php#L227

But I am not sure if that is ok, because if we update this function to return a number instead of a boolean value it would not be compatible any more with legacy

[2020-11-22 04:06] rakibtg commented on #48
@Timu57 I will add an optional parameter:
[code]
If `$returnWithCount = true` then it will return total amount of items deleted. Or true/false by default.

[2020-11-22 04:47] rakibtg commented on #51
@Timu57 In `dev` brach there is a new method called `verifyStore`.

https://github.com/rakibtg/SleekDB/blob/ff611879249ac633faafa634cc9268bc4987ff71/src/SleekDB.php#L176-L177

I think it should handle this situation. Need to reproduce it to verify.

[2020-11-22 05:35] rakibtg commented on #51
@BLLuis, @Timu57 Merged to dev :)

[2020-11-22 06:10] #46 closed

[2020-11-22 07:14] BLLuis commented on #51
This happens to me because I run some scripts from admin (sudo) then the new registers become owned by root, so, the access to registers was ok in general but some of them because the root owner.

BTW, you should consider, in a future, to add a general flag, like the cache flag, but for a readonly file system, I mean, if readonly=true flag is provided, you should not throw the initial exception ab

[2020-11-22 07:15] BLLuis commented on #51
Master

[2020-11-22 07:17] BLLuis commented on #48
Nice.

[2020-11-22 19:17] Timu57 commented on #51
@BLLuis
If you want to recommend a new feature (readonly flag) please consider making a new issue.

PS: If you want the recently made updates without waiting for the next release you can use the following command to use the dev-master branch:
[code]

[2020-11-22 19:19] Timu57 commented on #50
Sounds awesome!

[2020-11-23 18:53] rakibtg opened #54 "Check if data exists"
Adding an object that can be used to determine if data exists or not!

Example:
[code]

This will return a `true` or `false` based on the existence of the data that you are looking for.

One of the benefit of using `exists()` method will be that it can skip extra document checks when all you need to know if a document with some conditions exists or not.
It will also ignore the join operations(if a

[2020-11-24 12:08] rakibtg opened #56 "Return the first item only"
The `fetch()` method would return an array of documents. By using the `first()` method in the query we can get only the first item found, skipping additional document checks. Instead of returning an array of document it will return only a single document object.

Example:
[code]

This would return only the data object instead of a single item within an array!
[code]

[2020-11-25 18:15] stickypages opened #58 "Cache Date in return"
It would be awesome to have in the STORE data, to show the cache date if it's returning cached data.

[2020-11-28 13:11] rakibtg opened #59 "Use "results" property instead of returning data from methods"
- `findStoreDocuments()`
- `reGenerateCache()`
- `useExistingCache()`
This above method should use `$this->results` property to set the data directly instead of returning the data to the `fetch()` method!

In the fetch method it will only return $this->results.

[2020-11-28 13:48] rakibtg opened #60 "Use disableCache() with join() method if parent's cache is disabled"

[2020-11-28 19:35] rakibtg commented on #58
@stickypages We can use something like `filemtime`.

Can I know about your use case?

[2020-11-28 19:39] stickypages commented on #58
Yeah but I don't know which file it is... More so to display a date that says, "last updated". Does that help?

[2020-11-28 19:44] rakibtg commented on #58
@stickypages I think you can add a custom property in your document like "updatedAt" and update the datetime manually. The cache files are not predictable and you will not get a proper datetime on the purpose of showing "last updated".

[2020-11-28 20:04] stickypages commented on #58
Yeah but I don't know which file to require est to get the datetime

[2020-11-28 21:57] Timu57 commented on #58
I think you are searching for something like this? #47

[2020-11-29 00:34] stickypages commented on #58
No, just want to know the date when the cache was last updated. Basically the file timestamp but I can't call on the file because I don't know which file to check, there are tons of files.

[2020-11-29 03:33] Timu57 commented on #58
Ok, can you please tell us your use case? For what do you need the timestamp of cached files? We need to know that, to build/ provide a good method for you.

Thank you

[2020-11-29 05:52] stickypages commented on #58
Yeah, like I was mentioning. it's nice to know when a cache file was updated.
Example: Am I receiving fresh data, or cached data. I don't have a way to know. Also, it's nice to know when the latest file was updated so I can reference it.

[2020-11-29 14:05] Timu57 commented on #58
@stickypages I think I get what you are trying to achieve with the date of the cached file.

Instead of giving the date and letting the user handle the caching by its own we probably should optimize/ redo the caching system to consider updated content.

I will make a new issue for that.

[2020-11-29 15:54] Timu57 opened #62 "Updating Cache Handling"
# Overview of current state

For caching the getCacheToken method is used, which generates a md5 hash out of the query parameters.

Users can interact with Caching by using the following methods:
- makeCache()
- disableCache()
- useCache()
- deleteCache()
- deleteAllCache()

## makeCache
Re-generate the cache for the query.
## disableCache
Disable cache for the query.
## useCache
Re-use existing c

[2020-11-29 16:03] Timu57 commented on #58
#62 Hope this could help you.

[2020-11-29 17:43] rakibtg commented on #62
@Timu57 This is incredible! I always envisioned something like this, but I am so glad that you came up with this idea!

As a developer I would like to have an easy configurable option to disable cache for the store, so let's keep the `auto_cache` config for now.

We will not force a developer to use cache, although we will enable it by default but if the developer want he should be able to disable

[2020-11-29 17:52] rakibtg commented on #60
Prerequisite for this issue is: #62

[2020-11-29 18:02] rakibtg commented on #58
I will close this issue, feel free to re-open!

[2020-11-29 18:02] #58 closed

[2020-11-29 18:58] Timu57 commented on #62
**Lookups** will be done like now, with the hash of the query alias **QueryCacheToken**. Means no changes there besides of using glob to find the path to the correct cache file.

The hash of the content alias **ContentCacheToken** is just used to find the correct cache files when **deleting and updating**.
So we can delete all cache files regarding the content, no matter which query.

[2020-11-29 19:09] Timu57 commented on #62
You are right. I also think we should keep the auto_cache configuration and useCache/ disableCache methods. Freedom is important :smile:

[2020-11-30 16:15] rakibtg commented on #41
@wuspum Added distinct feature!

Example:
[code]

Available in `dev` at this moment.

[2020-12-09 07:23] BLLuis opened #67 "Allow to query on read-only file system"
Sometimes I need to run some scripts without write permissions on file system and SleekDB throws an exception about that.
So, consider to add a new flag for readonly operations (something like the auto_cache flag), in this case, let the code throw the exception on file_put_contents (for example).

A copy of exception:

[code]

Regards.

[2020-12-10 15:11] rakibtg commented on #67
@Timu57 Can you handle this in the refactored version?

[2020-12-10 15:17] Timu57 commented on #67
Yes I can :+1:

[2020-12-18 01:56] Timu57 commented on #67
Solved in #68

Now SleekDB just checks the permissions it needs to execute a task. That means read only is possible if caching is disabled.

[2020-12-18 01:58] Timu57 commented on #62
This approach for a caching system is unfortunately not possible.
A caching system with cache lifetime is implemented with #68.

[2020-12-18 01:58] #62 closed

[2020-12-18 02:20] Timu57 commented on #60
Easy to implement now, like with data directory here:
https://github.com/rakibtg/SleekDB/blob/6866a9499568ab8abe94c4113503e5eb0b6edec1/src/Query.php#L141

Just use the private method getCondition('useCache') and check if it is false. If it is false caching is disabled.

I have to mention that users also could do that by their own if they dont want the subquery to cache by either disabling the cach

[2020-12-18 02:28] Timu57 commented on #59
* `reGenerateCache()`
 * `useExistingCache()`
The above methods does not exist anymore. #68

 * `findStoreDocuments()`
I did not understand why findStoreDocuments should not just return the results. So it returns the results again with #68

[2020-12-18 02:30] Timu57 commented on #56
With the implemented approach the search is efficient but for example orderBy does not work. We should mention it in the documentation.

[2020-12-18 02:32] Timu57 commented on #56
P.S. With #68 the first() method returns the result.

[2020-12-18 02:32] Timu57 commented on #54
With #68 the exists() method returns the result.

[2020-12-18 02:43] Timu57 commented on #34
The like condition now supports all wildcards shown in https://www.w3schools.com/sql/sql_wildcards.asp at **Wildcard Characters in SQL Server**

[2020-12-18 06:00] rakibtg commented on #54
@Timu57 Should it return a boolean response instead since we have `first` method?

[2020-12-18 13:08] Timu57 commented on #54
Yes 😊 I meant that it returns boolean instead of a SleekDB object.

[2020-12-20 16:16] leealexey commented on #1
I think it'll be ok to set `sys_get_temp_dir() `as default directory, also documentation should mention that this folder will be cleaned up on next boot of the server. This is not perfect solution but at least it is better than throwing exception 😉

[2021-01-09 13:44] mojtabaqri opened #73 "Insert in nested arrays"
Hi,
this is my data :
[code]

i want to  add more data to the tweet collection
The tweet itself includes a collection of tweets related to one Hashtag !
like this example ( **after insert** )

[code]

Looks like this feature has not been implemented yet, please add these feature! thanks

[2021-01-09 14:37] Timu57 commented on #73
@mojtabaqri Hi,
could you please provide the code on how you update the document?

You can edit documents like shown in the documentation:
https://sleekdb.github.io/#/edit-data

Example on updating the twit property:
[code]

PS: Use the _id property that is automatically generated by instead of using a custom "id" property.

Hope I could help.

[2021-01-11 18:46] Timu57 commented on #73
I close this issue because SleekDB has update functionality.
Feel free to reopen it if needed.

[2021-01-11 18:46] #73 closed

[2021-01-11 19:58] Timu57 opened #75 "Add find methods to new Store class to make the QueryBuilder optional for simple queries."
For simple queries conveniently find documents without the need of QueryBuilder.

Get all documents of a store.
[code]

Get a single document based on its _id.
[code]

Get one or multiple documents.
[code]
  * $criteria
    * ["city" => "london", "age" => "18"]
  * $orderBy
    * ["name" => "asc"]

Get one document.
[code]
  * $criteria
    * ["city" => "london", "age" => "18"]

[2021-01-12 00:25] Timu57 opened #76 "Optimize delete method of Query class to also be able to return the results"
# 3 Constants for deletion result

[code]

## Contants

### DELETE_RETURN_BOOL
Value: 1
Returns true on success and false if nothing found to delete.

### DELETE_RETURN_RESULTS
Value: 2
Returns the deleted documents as a two dimensional array on success and an empty array if nothing found to delete.

### DELETE_RETURN_COUNT
Value: 3
Returns 0 if nothing found to delete and the count of deleted doc

[2021-01-12 00:27] Timu57 opened #77 "Change delete method of Query class to accept return options"
[code]

## 3 Constants

### DELETE_RETURN_BOOL
Value: 1
Returns true on success and false if nothing found to delete.

### DELETE_RETURN_RESULTS
Value: 2
Returns the deleted documents as a two dimensional array on success and an empty array if nothing found to delete.

### DELETE_RETURN_COUNT
Value: 3
Returns 0 if nothing found to delete and the count of deleted documents on success.

[2021-01-12 00:33] Timu57 opened #78 "Add update & delete to Store class"
For simple queries conveniently update and delete documents without the need of QueryBuilder.

Update one or multiple documents.
[code]

Delete one document.
[code]
For more return options look into #77

[2021-01-12 00:34] #76 closed

[2021-01-12 00:59] Timu57 commented on #60
@rakibtg
Are you sure we should do that?

I think if someone disables the cache in the parent and that automatically disables the cache of the subquery that could be a not expected side effect to some. The user can also disable caching of the sub query (child) if he/she wants to.

Example with SleekDB:

[code]

Example with Store:

[code]

If you say this feature should be implemented anyway, just

[2021-01-12 06:34] rakibtg commented on #78
@Timu57 `deleteDocument` would it be a public API or internal method?

[2021-01-12 07:24] Timu57 commented on #78
@rakibtg yes, because the Store class already has a delete method to delete a store.

I also thought about naming the method **deleteById**

What do you think what could be the best fitting name?

[2021-01-12 13:12] rakibtg commented on #78
@Timu57 Can't we already do that? Example:

[code]

[2021-01-12 13:29] Timu57 commented on #78
@rakibtg yes we can.
But the following is much more convenient:
[code]
We also could create a `deleteBy` method:
[code]
- $criteria
  - ["city" => "london", "age" => 18]
- $returnOption
  - see return options constants at #77

[2021-01-12 13:43] rakibtg commented on #78
@Timu57 I have mixed feeling for `findBy` or `deleteBy` because
 - it might be a query consistency issue
 - What if we add more conditional methods, or if i want to add search in the findBy method then every time we will need to add a new parameter, which i think would create more confusion

[2021-01-13 07:29] Timu57 opened #79 "Make dataDir required"
The data directory parameter when creating a store was made optional to make joins easier.
Now joins are made different, so data directory does not have to be optional anymore.

Then we do not need the _checkBootUp method anymore.

[2021-01-13 09:32] Timu57 opened #80 "Make where and orWhere just accept one array"
We deprecate the following usage of where and orWhere:

[code]

Instead it should be used like this:

[code]

# Multiple clauses
For multiple where the user had to repeatedly use where:

[code]

Now it can be used like this:
[code]

[2021-01-13 10:19] #60 closed

[2021-01-13 10:53] Timu57 commented on #50
Will be done with #75

[2021-01-13 10:53] #50 closed

[2021-01-13 15:01] Timu57 opened #81 "order by multiple fields"
At the moment the user just can sort by one field name.

[2021-01-13 15:07] Timu57 opened #82 "first and exists methods does not use cache"
We should consider making first and exists methods use caching.

[2021-01-13 18:08] rakibtg commented on #82
Is they are not already?

[2021-01-13 18:09] rakibtg commented on #81
We can prioritise this issue.

[2021-01-13 20:26] Timu57 commented on #82
Yes, it does not use caching at the moment because the following situation is a little bit tricky if caching is enabled, at least the way it works at the moment:

[code]

The token is set in the Cache object once on creation.

I thought about multiple ways to solve this issue and I think the best solution could be to either:

  1. Create two new methods called `setTokenAddition` and `removeTokenAd

[2021-01-13 21:23] Timu57 opened #84 "Deprecate SleekDB Class"
# Introduction
The `SleekDB` class is at the moment a wrapper class for the `Store`, `QueryBuilder`, `Query` and `Cache` classes.

We keep and need that wrapper class to provide downwards compatibility but deprecating it now and removing the wrapper class in future releases.
That will make the SleekDB project much cleaner and more consistent.
It will also reduce the learning curve for new users an

[2021-01-14 09:15] rakibtg commented on #82
@Timu57 The idea behind the first solution is to be able to add a custom value to the token? I think in previous implementation we used to use the flag for each method, in this case it was probably `returnFirst` something like that. So, now instead we will introduce a new method that we can manually add a value to the token?

[2021-01-14 09:18] rakibtg commented on #84
@Timu57 Let's be it then :) We will deprecate the SleekDB class, the documentation will focus on `Store`, `QueryBuilder`, `Query` and `Cache` classes. In another page we may clarify the issue with the SleekDB class.

[2021-01-14 18:22] Timu57 commented on #82
The method will be added to the Cache class, means the user normally never comes in contact with it.

[2021-01-15 01:57] Timu57 opened #86 "Remove insertMany and provide that functionallity with insert"
We should provide inserting multiple documents with one method. Would make using SleekDB a little bit easier.

[2021-01-15 03:21] Timu57 opened #87 "getCache method in Store"
Should we make a `getCache` method in the `Store` class for an easier access to the Cache object?

[code]

The `Cache` class provides methods like: `deleteWithNoLifetime` and `deleteAll`.

We also could make a wrapper for some of these methods or just let it like it is now.

Most of the time the user does not need any access to the cache object and its methods.
That's why I would say that we can l

[2021-01-15 11:21] Timu57 opened #88 "useCache method in Store class"
We should consider adding a `useCache` and a `disableCache` method to the `Store` class, perhaps also a `regenerateCache` method.
These methods should set a separate cache flag for the new methods to provide a manual query by query base caching like with the QueryBuilder.

The user could also just use the configuration when creating the Store object, but that would be store wide and would be a lit

[2021-01-15 14:15] rakibtg commented on #86
@Timu57 I would say No, as there will be no way to judge when it actually contains multiple items or if a single document should have a list of data! So, let's keep `insertMany` besides `insert`

[2021-01-15 14:17] rakibtg commented on #88
OH! Yes. I think it will be a very important feature otherwise it might cause a lot of foreign bugs while caching complex queries.

[2021-01-15 14:18] Timu57 commented on #86
@rakibtg we already do that kind of decision in the new update method of the Store class and the where and orWhere methods of the QueryBuilder class

[2021-01-15 14:18] rakibtg commented on #87
Does it make any difference of facilates #88 ?

[2021-01-15 14:19] Timu57 commented on #88
At the time we don't have these methods in the Store class, do you think we should add them?

[2021-01-15 14:20] rakibtg commented on #86
Oh, did you mean this?
[code]

[2021-01-15 14:21] Timu57 commented on #87
@rakibtg
The user could have an easier direct access to the Cache object with all its methods.

But to be honest I don't think that this kind of direct access is really needed..

[2021-01-15 14:23] Timu57 commented on #86
No, just the Store class has insert methods, none other method does.

For example in the update method we achieved the decision if the given array contains one or multiple documents with this line of code:

[code]

[2021-01-15 14:23] rakibtg commented on #88
@Timu57 The `createQueryBuilder` will have all this methods?

[2021-01-15 14:25] Timu57 commented on #88
@rakibtg yes it has all these methods. The only benefit would be that the used can control the cache when using for example the `findBy` method.

[2021-01-15 14:31] rakibtg commented on #88
If we use `createQueryBuilder` then we don't need them in the store class!

[2021-01-16 06:43] #88 closed

[2021-01-16 06:43] #87 closed

[2021-01-16 09:42] Timu57 commented on #86
@rakibtg
I just noticed something.
Should SleekDB be able to accept the following as a document?

[code]

If so you are right, then we would need to provide both methods.
Otherwise we could remove the `insertMany` method and provide that functionality with the `insert` method

[2021-01-16 16:39] rakibtg commented on #86
@Timu57 There's a corner case,

This could be a single document:

[code]

Again, this could be two single document,

[code]

That's why we need both `insert` and `insertMany` methods.

[2021-01-16 16:56] Timu57 commented on #86
Ok, I get it, a document does not have to be an associative array.

[2021-01-17 05:05] rakibtg commented on #86
Most likely no one will insert an array directly, but let's keep the insertMany to avoid further confusions.

[2021-01-18 15:08] Timu57 commented on #86
yes, you are right, it's the best to keep both methods.

[2021-01-18 15:08] #86 closed

[2021-01-20 10:43] adrxn commented on #80
To be able to create more complex clauses with unlimited random use of 'and' and 'or' maybe the following idea.

E.g. to convert and expression like:
(name like 'a%' or name like 'b%') and ((age >= 16 and age < 20) or (age >= 24 and age < 28))

I'd like to propose the follwing JSON clause:
{
   "and" : [
      {
         "or" : [
            [ "name", "like", "a%" ],
            [ "name", "like",

[2021-01-20 13:59] Timu57 commented on #80
@adrxn Hi. That looks like a really nice idea.
Thank you for pointing out that the current implementation is not capable of handling such nested expressions. Do you have an idea how we could further improve on that idea and make it easier for the user? We could have a representation of the expression that looks like this in SleekDB internally, but forcing the user to handle nested arrays like that

[2021-01-20 14:54] adrxn commented on #80
Indeed maybe you have to get used to the JSON-like annotation of queries.

But the user has the freedom to make their clauses as complex as they want.
I mean, it is still possible to use something simple like : ["age", ">=", 16]
or use multiple where-clauses ...

For multiple compares (like your examples, and can be more than 2) you need to define if they should be or-ed or and-ed like:
{ "and" :

[2021-01-23 14:23] Timu57 opened #90 "Make an OR between array elements of where method"
# Current behaviour

Currently the `where` method of the `QueryBuilder` class accepts a multidimensional array, where the different statements have an `AND` between them.

That provides an handy way to make multiple `AND` statements without calling the `where` method multiple times.

For example:

[code]

Will produce the following statement:
[code]

The same kind of query can be achieved with the

[2021-01-23 15:08] rakibtg commented on #90
@Timu57 I think I liked the one you talked about in our [discord](https://discord.gg/WJGqUFPtZw) channel.

[2021-01-23 17:01] Timu57 commented on #90
We will implement an additional method with the release of 2.1, that handles nested where conditions and let the where method as is.

[2021-01-23 17:01] #90 closed

[2021-01-23 17:54] Timu57 opened #91 "Add a new method for nested where conditions"
As pointed out by @adrxn in https://github.com/rakibtg/SleekDB/issues/80#issuecomment-763671096 the current implementation does not support nested where clauses.

The new method should accept an array like this:

[code]

To provide the following request:
[code]

# Array structure / Concept

[code]

## OUTERMOST_OPERATION
The outermost operation is optional and does specify how the given conditions

[2021-01-23 17:58] rakibtg commented on #91
Are we going to call it `condition()` method?

[2021-01-24 13:18] rakibtg commented on #84
Added in [SleekDB 2.0](https://github.com/rakibtg/SleekDB/releases/tag/2.0)!

[2021-01-24 13:18] #84 closed

[2021-01-24 13:19] rakibtg commented on #41
Added in [SleekDB 2.0](https://github.com/rakibtg/SleekDB/releases/tag/2.0)!

[2021-01-24 13:19] #41 closed

[2021-01-24 13:19] rakibtg commented on #42
Added in [SleekDB 2.0](https://github.com/rakibtg/SleekDB/releases/tag/2.0)!

[2021-01-24 13:19] #42 closed

[2021-01-24 13:19] rakibtg commented on #48
Added in [SleekDB 2.0](https://github.com/rakibtg/SleekDB/releases/tag/2.0)!

[2021-01-24 13:19] #48 closed

[2021-01-24 13:20] rakibtg commented on #51
Added in [SleekDB 2.0](https://github.com/rakibtg/SleekDB/releases/tag/2.0)!

[2021-01-24 13:20] #51 closed

[2021-01-24 13:20] rakibtg commented on #54
Added in [SleekDB 2.0](https://github.com/rakibtg/SleekDB/releases/tag/2.0)!

[2021-01-24 13:20] #54 closed

[2021-01-24 13:20] rakibtg commented on #56
Added in [SleekDB 2.0](https://github.com/rakibtg/SleekDB/releases/tag/2.0)!

[2021-01-24 13:20] #56 closed

[2021-01-24 13:20] rakibtg commented on #59
Added in [SleekDB 2.0](https://github.com/rakibtg/SleekDB/releases/tag/2.0)!

[2021-01-24 13:20] #59 closed

[2021-01-24 13:21] rakibtg commented on #38
Added in [SleekDB 2.0](https://github.com/rakibtg/SleekDB/releases/tag/2.0)!

[2021-01-24 13:21] #38 closed

[2021-01-24 13:21] #80 closed

[2021-01-24 13:21] #79 closed

[2021-01-24 13:21] #78 closed

[2021-01-24 13:22] #77 closed

[2021-01-24 13:22] #75 closed

[2021-01-24 13:22] #67 closed

[2021-01-24 13:23] #82 closed

[2021-01-24 13:23] #34 closed

[2021-01-24 13:24] #31 closed

[2021-01-24 13:24] #30 closed

[2021-01-24 13:27] Timu57 commented on #44
We refactored and rewrote the whole project. Possible that it now suites your needs. I will close this issue. Feel free to reopen it if needed.

[2021-01-24 13:27] #44 closed

[2021-01-25 19:18] REDAL opened #92 "Uncaught SleekDB\Exceptions\InvalidConfigurationException: cache_lifetime has to be null or int"
![test](https://user-images.githubusercontent.com/7544360/105754459-60222080-5f4a-11eb-899c-8071833c9276.png)

I got this message when trying to add configuration parameters

this is the code that caused the issue

require_once __DIR__.'/plugins/SleekDB/Store.php';

    $dbDir = $_SERVER['DOCUMENT_ROOT']."/db/";
    $configuration = [
    "auto_cache" => true,
    "cache_lifetime" => null,
    "ti

[2021-01-25 22:03] gusgeek opened #93 "bloGo a noSQL Blog, thanks @SleekDB"
This enchanted with your project, is really of exceptional utility and with an amazing way of working. I decided to get down to business and try your library, to see as soon as I was humming myself to create a Blog from its implementation to the way it handled the data. Literally late 4 days., I don't know if because of my speed or because it wasn't a headache worrying about the characteristics of

[2021-01-25 23:03] Timu57 commented on #92
@REDAL Hi and thank you for reporting the bug. An update containing the fix will be released very soon.

[2021-01-26 05:10] REDAL commented on #92
the message error is disappeared, but no cache file is generated in the cache folder

[2021-01-26 05:24] rakibtg commented on #92
@REDAL What happens when you have no `cache_lifetime` in the configuration?

[2021-01-26 05:31] REDAL commented on #92
Actually, nothing happens, when removing cache_lifetime from the configuration, I mean no error occurs, it does save the data.

[2021-01-26 13:58] Timu57 commented on #92
SleekDB does create Cache files when executing a search query.
Does SleekDB create a cache file when you use the following code?

[code]

Then there should be a cache file located in:

[code]

PS: Hope we can release v2.0.1 today, that includes the fix.

[2021-01-26 14:05] Timu57 commented on #93
@gusgeek Hi and thank you for your kind words. It's beautiful to hear such a positive feedback and we are glad that you like SleekDB. Your blog software looks good and I hope you will be able to build awesome things with SleekDB.

[2021-01-26 14:05] #93 closed

[2021-01-26 14:27] Timu57 commented on #92
Version 2.0.1 is released and should fix this bug.
@REDAL thank you for reporting the bug.
If the bug is still not fixed, feel free to reopen this issue.

[2021-01-26 14:27] #92 closed

[2021-01-26 14:42] Timu57 commented on #32
We refactored and rewrote the whole SleekDB project. Now it has a better code base structure.
Developing and expanding SleekDB now is much easier.

Feel free to reopen this issue if needed.
The `db.php` file you added looks really good. If you want to implement that feature PR's are always welcome.

[2021-01-26 14:42] #32 closed

[2021-01-26 15:11] rakibtg commented on #92
Thanks @Timu57 for the quick fix and release.

[2021-01-28 22:43] Timu57 opened #95 "Add configuration for custom primary key name"
A configuration to specify another name for "_id".

That can be configured via the $configuration array.

The configuration name will be: **primary_key**

[2021-01-29 16:13] Timu57 commented on #95
Released with v2.1

[2021-01-29 16:13] #95 closed

[2021-01-31 22:03] netomarchiori opened #99 "Undefined index: order"
Hello there,

I keep getting "Undefined index: order" on Query.php line 510, even when using methods that does not require me to provide order parameters, such as findAll():

`$allNews = $newsStore->findAll();`

Running PHP 7.4.14 and using SleekDB with Laravel 8

[2021-01-31 22:31] Timu57 commented on #99
Hi @netomarchiori
I also noticed that bug today and its fixed with version 2.1.1

Feel free to reopen this issue if the bug still occurs after updating to v2.1.1

[2021-01-31 22:31] #99 closed

[2021-02-01 06:22] Dennis4720 opened #100 "Foreign keys with cascade on update and or delete"
Hi!

Firstly, thank you for creating such an awesome project.

I'm really interested in replacing MariaDB with SleekDB but after reading some documentation I found out that there's no such thing as foreign keys that deletes data in other tables once a value got updated/deleted. Is that correct?

If so, I'd love to see this feature in SleekDB.

Kind regards,
Dennis.

[2021-02-01 12:42] peterbrinck opened #101 "findOneBy causes Undefined array key "order" warning"
Hi!

When using `findOneBy` I'm getting a ```Undefined array key "order"``` warning.

Looking in the docs, it doesn't seem I'm using it wrong.
This is my criteria: `['serialNumber', '=', $deviceData->serialNumber]`

The full warning:
`Warning: Undefined array key "order" in vendor/rakibtg/sleekdb/src/Query.php on line 510`
https://github.com/rakibtg/SleekDB/blob/master/src/Query.php#L510

[2021-02-01 13:24] Timu57 commented on #101
Hi,
thank you for reporting the bug.
Does that bug still occur with v2.1.1?

### Updating with composer
[code]

[2021-02-01 13:26] peterbrinck commented on #101
Oh cool, didn't know there was a new release!
I'll give it a go.

[2021-02-01 13:30] peterbrinck commented on #101
The new release (v2.1.1) works fine!

Thanks for the quick reply 👍

[2021-02-01 13:30] #101 closed

[2021-02-01 13:54] Timu57 commented on #100
SleekDB does aim to be a "document based" NoSQL databse.
In that kind of databases constraints like foreign keys normally doesn't exist.

You need to either structure your database in a way where you don't need constrains or you have to manage cascading updates and deletes by your own by executing additional queries.

That said, it could be that you have a good idea how we could realize that kind

[2021-02-01 19:48] jmencoder opened #102 "How I know what version I have ?"
Sorry for the question but I took a project that have this library include but I can't find the version.

[2021-02-01 21:52] Timu57 commented on #102
Hi @jmencoder
If composer is used to manage the packages in that project just type:

[code]

else

Please check if for example the Store class exists (introduced in v2) if not you should consider upgrading soon.

SleekDB v2 provides full backwards compatibility, it just dropped PHP 5 support and needs at least PHP 7.0.

[2021-02-02 19:12] jmencoder commented on #102
Thnks!

The project doesn't use composer and I definitely do not have version 2, the Store class doesn't exist.

[2021-02-03 14:45] rakibtg commented on #102
@jmencoder Please use the latest version! Closing this issue, feel free to re-open.

[2021-02-03 14:45] #102 closed

[2021-02-04 08:01] BinZhiZhu commented on #26
Are distributed projects supported or are there plans to support them?

[2021-02-04 08:29] Largo opened #103 "Typo in Getting Started guide"
https://sleekdb.github.io/#/getting-started

`$article = [
 "title" => "Google Pixel XL",
 "about" => "Google announced a new Pixel!",
 "author" => [
   "avatar": "profile-12.jpg",
   "name" : "Foo Bar"
 ]
];
$results = $newsStore->insert($article);`

should be
` "author" => [
   "avatar"=>"profile-12.jpg",
   "name" =>"Foo Bar"
 ]`

[2021-02-04 19:49] Timu57 commented on #103
Thank you for reporting the typo. It's fixed now.

[2021-02-04 19:49] #103 closed

[2021-02-06 07:06] rennokki commented on #26
So I searched for "HTTP API" and found this issue, I assume that a PHP process that serves an HTTP API is going to fix distribution?

[2021-02-06 16:11] sawirricardo opened #104 "Multiple Joins + Nested Joins cannot be used in combination"
Hi, @rakibtg , first of all, I want to thank you. Your work is amazing and really love it. Useful for mocking database before diving deep into mysql.

I found an issue where I cannot make aggregation query multiple join + nested join.

To give you the idea, this code will only query multiple joins, but not the nested join.
[code]

If I take out the multiple joins, the nested join works, like in th

[2021-02-06 16:17] sawirricardo commented on #104
Oops sorry, I think the joins have worked again like charm. The issue is because I didn't specify "where", yet the query is also valid which make the code didn't output any errors.

If you cannot make this works, please double check your query is correct. It may not output any errors.

[2021-02-06 16:28] sawirricardo commented on #104
Hi, really sorry for the confusion, but on second observation, there are something strange with this multiple and nested combination.

[2021-02-06 17:57] Timu57 commented on #104
Hi @sawirricardo
can you tell me what result you got and what you expected?
It also would be nice to know what kind of errors are thrown..
Thank you in advance

[2021-02-07 04:32] sawirricardo commented on #104
Hi @Timu57 For the multiple joins and nested joins, I expect it would look like this
[code]

However the result would look like this
[code]

And the thing was I didn't get any errors. What I did was to try take out the multiple joins, and thus the nested joins works. If I takeout the nested joins, then the multiple joins can work.

Although it is solvable by just querying 1 by 1, I think it will w

[2021-02-07 05:18] rakibtg commented on #104
Hi @sawirricardo,

What is the updated query method looks like?

[2021-02-07 05:34] Timu57 commented on #104
@sawirricardo I am sorry but I could not reproduce the issue.

I used the following code:

[code]

[code]

I tried to reproduce the database structure based on the query. I am not quite sure what the usecase is and why the database is structured like that but for me it looks like the query returns what is expected?

[2021-02-07 05:40] sawirricardo commented on #104
Hi @rakibtg @Timu57 , That code quite resembles the expected result I needed. Hmm, I will try again the code tomorrow. Really appreciate the help @Timu57

[2021-02-07 05:58] Timu57 commented on #104
@sawirricardo I just noticed that the query I used was wrong.

the correct one according to your question is:

[code]

Result:
[code]

It could be that something is wrong in your cache.
Try to clear it by either **deleting all files in the cache folders** of the stores ( in this example: \_\_DIR\_\_ . "/data/\<store\>/cache" where \<store\> is for example users ) **or by using the Cache class of S

[2021-02-07 06:04] sawirricardo commented on #104
Ah I see, I think I also experienced some weird experience when developing it. (like the result not changed, or the join query is still empty, yet the query successfully return results. Do you say it may be because the caching?

[2021-02-07 06:26] Timu57 commented on #104
Sure, caching could be the problem :yum:

I think disabling the cache functionality while development could be a good idea to avoid handling with and thinking about the caching layer while trying to find/ create the correct query.

You can disable Caching by using the ["auto_cache" configuration of the Store class](https://sleekdb.github.io/#/configurations):

[code]

PS: I noticed a bug regarding

[2021-02-07 06:34] Timu57 opened #105 "Use join subquery or its result into account when creating cache token"
Currently SleekDB uses a list with all its joins to create the cache token but does not hash the sub-query itself.

Once cached these two queries always return the same result:

[code]

[2021-02-07 08:42] sawirricardo commented on #104
Hmm I see, really appreciate the help @Timu57 . By the way, @rakibtg I didn't really notice the configuration section at first. May be you want to put a reference on the getting started section? Thank you

[2021-02-07 09:11] Timu57 commented on #105
Fixed with version 2.1.2.

[2021-02-07 09:11] #105 closed

[2021-02-07 09:22] Timu57 commented on #104
@sawirricardo the cache token generation did not consider the join sub-queries correctly.

With the new released of [version 2.1.2](https://github.com/rakibtg/SleekDB/releases/tag/2.1.2) that problem should be fixed.

Most likely caching was the reason for your problems.

Normally the caching layer should not be a problem while development.

Thank you for your bug report.

### Update using compose

[2021-02-07 10:13] sawirricardo commented on #104
Thank you for the follow-up @Timu57 👍🏻Really appreciate

[2021-02-07 18:16] rakibtg commented on #104
Thank you @Timu57 for the fix!
Thank you @sawirricardo for reporting the issue, we will update the doc to make it more clear about different configurations, let us know if you have any suggestions.
I will close this issue, feel free to re-open.

[2021-02-07 18:16] #104 closed

[2021-02-07 20:14] Timu57 opened #110 "Improve on feature/cli branch and implement the new features to release it soon"
#16

[2021-02-08 00:37] Timu57 commented on #91
The implementation of the nested where functionality like shown in https://github.com/rakibtg/SleekDB/issues/91#issue-792616517 is very difficult.
While trying to implement it I also noticed that the approach was very difficult and unintuitive to use.

With the new implementation everything is much simpler and cleaner.

[code]

[code]

# Array structure / Concept

[code]

# OUTERMOST_OPERATION
The

[2021-02-08 18:12] Timu57 commented on #91
Implemented with version 2.2

[2021-02-08 18:12] #91 closed

[2021-02-08 18:13] Timu57 commented on #81
Implemented with version 2.2

[2021-02-08 18:13] #81 closed

[2021-02-08 18:22] Timu57 commented on #100
I don't think that we implement constraints into this NoSQL database anytime soon.
So I will close this issue for now, feel free to reopen.

[2021-02-08 18:22] #100 closed

[2021-02-08 23:12] adrxn commented on #91
Sorry for the late replay ...
I agree that your syntax is closer to the normal infix notations and thus more intuitive.
I was thinking more in function (prefix) notation.

Maybe now you do not need the OUTERMOST_CONDITION at all.

May I suggest defining more comparison operators like:

function Compare($field, $compare, $value) {

    $ok = false;

    switch (strtolower($compare)) {
        case

[2021-02-09 00:41] Timu57 commented on #91
Hi @adrxn Could you please open a new issue for your enhancement request. Thank you

[2021-02-09 01:08] Timu57 commented on #91
@adrxn Thank you for your thinking and suggestion. I am sorry but I don't quiet understand what you meant, how we can change it, that we don't need the outermost condition any more. Could you please explain it in more detail? :sweat_smile:
Thank you in advance.

### Quick summary what the outermost condition is for

When the user defines conditions to filter data with for example the where and orW

[2021-02-09 01:10] Timu57 opened #112 "Deprecate nestedWhere and implement nested where functionality into where and orWhere methods"
That would reduce the amount of methods (complexity) and the OUTERMOST_OPERATION part of the nestedWhere method.

[2021-02-09 10:50] adrxn commented on #112
This is about what I meant.
Make only 1 where in which you can do all selections with nested and's and or's.
I think you can deprecate orwhere as well, because you can use 'or' in the nested version.

Perhaps something should be invented for NOT.

I don't know if you have any experience with LINQ in .NET ?
LINQ where function can contain almost all you want in selections.

[2021-02-09 11:07] adrxn commented on #112
Watch this:
https://stackoverflow.com/questions/5792388/is-there-something-in-php-equivalent-to-linq-in-c
https://github.com/Athari/YaLinqo

[2021-02-09 11:43] adrxn commented on #112
Some examples of the array syntax that should be possible IMO:

.where {
		[
			[[ "name", "like", "a*" ], "or", [ "name", "like", "b*" ]],
			"and",
			[
				[[ "age", ">=", 15 ], "and", [ "age", "<", 30 ], "and", [ "haschildren", "=", true ]],
				"or",
				[[ "age", ">=", 45 ], "and", [ "age", "<", 60 ]]
			],
			"and",
			[ "city", "=", "New York" ]
		]
);

.where([ "city", "=", "Los Angeles"

[2021-02-09 13:37] Timu57 commented on #112
Hi @adrxn Thank you for your comments.
I think we shouldn't deprecate/ remove the `orWhere` method, because I think it is more intuitive and much easier for new users and use cases where the statement is very simple.
What do you think regarding that topic @rakibtg ? Should we keep or remove it? At the end it's just a design choice and nothing big..

The PR #113 adds all the things you want :+1:

I

[2021-02-09 14:07] rakibtg commented on #112
@Timu57 Let's keep them.

[2021-02-09 22:22] Timu57 opened #114 "Make where and orWhere logical connected"
Use the implementation made with #112 to connect where and orWhere logically.

Currently the following query will execute in a wrong way:

[code]

[code]

The user would expect execution in the following way:

[code]

[code]

But SleekDB currently executes it internally the following way:

[code]

The same false execution applies to the `in` and `notIn` methods.

[2021-02-10 00:31] #114 closed

[2021-02-10 00:37] Timu57 opened #117 "Add "not like", "in" and "not in" to where and orWhere"
Then they can be used within nested statements.

[2021-02-10 00:39] Timu57 commented on #112
Implemented with version 2.3.

[2021-02-10 00:39] #112 closed

[2021-02-10 00:39] Timu57 commented on #117
Implemented with version 2.3.

[2021-02-10 00:39] #117 closed

[2021-02-10 00:58] Timu57 opened #118 "Deprecation of "in" and "notIn" methods"
We have dedicated methods for the conditions `in` and `not in` but we don't have dedicated methods for the other conditions like for example `=`, `<`, `>=`, `like`...
That is a little bit inconsistent.
We should either deprecate the `in` and `notIn` methods or implement dedicated methods for all conditions.

I would say we should deprecate `in` and `notIn`.
Sure a little bit of convenience will th

[2021-02-10 09:14] Timu57 commented on #118
Implemented with version 2.4.

[2021-02-10 09:14] #118 closed

[2021-02-10 17:17] jmencoder opened #121 "How do I make a query "SELECT BETWEEN""
Could you write me an example to do a query "BETWEEN" with dates yyyy/mm/dd.
Thnks!

[2021-02-10 20:11] Timu57 commented on #121
Hi @jmencoder
You can achieve that functionality very easy:

[code]

As you can see when using PHPs DateTime class it is very easy. https://www.php.net/manual/en/class.datetime.php

You should also save the date you want to check as a timestamp.

When you need to convert it back to an string just use the following:

[code]

[2021-02-10 21:39] Timu57 opened #122 "Add Datetime handling and between functionality."
Adding a check if the given value is an instance of DateTime and adding a between condition will be easy.
#121

[2021-02-11 03:01] Timu57 commented on #122
Added with version 2.5.

[2021-02-11 03:01] #122 closed

[2021-02-11 03:04] Timu57 commented on #121
@jmencoder with the new version 2.5 we added support for DateTime objects and the two new conditions `BETWEEN` and `NOT BETWEEN`.

Visit our new ["Working with Dates" documentation](https://sleekdb.github.io/#/dates) for more details on how to handle dates.

Feel free to reopen this issue if you have further questions.

[2021-02-11 03:04] #121 closed

[2021-02-12 00:24] gusgeek opened #125 "Dont Delete this Function!"
Hi there! It is always a pleasure to talk about this project, it is incredible.

I would like to know, if there is the possibility of keeping the function ''' where()->update ''' as a quick and practical option to an Update.

[2021-02-12 01:03] Timu57 commented on #125
Hi @gusgeek

Do you mean without the `getQuery` in between the `where` and `update` methods?

[code]

[2021-02-12 01:07] gusgeek commented on #125
Exactly, I think the more minimalist the functions are, the easier and more practical the programming mode will be. From version to version several functions changed and this in wanting to update the Framework ends up being a headache, so you have to rewrite one or more of the code.
An example is the cool function `findById` replacing `where ('user', '=', 1)-> fetch ()`

[2021-02-12 01:09] gusgeek commented on #125
It occurs to me that it could be something like

[code]

Retrieving the specificity of the search in a line

[2021-02-12 01:17] Timu57 commented on #125
I am sorry but I don't quite understand what exactly you mean now..
Do you suggest we should implement a new function called `updateById` or do you want that we try to remove the `getQuery` between the `where` and `update`?

PS: We already have the method `update` in the Store class: [Edit Data documentation](https://sleekdb.github.io/#/edit-data)

[2021-02-12 01:25] gusgeek commented on #125
I apologize, I am doing many things at the same time.

I find that SleekDB is up to date, I decide to update a project to the latest version and they have made changes at the function level that in this step are a headache since they have to be rewritten.

My main comment was: It would be nice to leave the function as it was in 2.1 if I am not mistaken, as it is simple, easy to memorize and practi

[2021-02-12 01:50] Timu57 commented on #125
Ah ok, I understand your point now.

We are really sorry that upgrading from version 1.5 to 2.X is such a pain.

Before version 2.0 SleekDB had a completely different codebase.
It was a single class using multiple traits.
That had many flaws regarding maintainability, extensibility and usability.
A little bit more on that is explained in #84.

We refactored and rewrote the whole project with separ

[2021-02-12 01:55] gusgeek commented on #125
Of course! I understand the generational change, well, it was a rather constructive criticism. The product is excellent and it has me in love!
Thanks for your attention! I will initiate the Issue for which I proposed.

[2021-02-12 01:55] #125 closed

[2021-02-12 02:00] gusgeek opened #126 "I present an idea: updateById"
Seeing the great work they are doing, I got to know the findById (id) function which optimizes my work a lot. Taking this idea, it would be great if they did the same with the Update argument something like updateById (id, array).

An example would be:
[code]

In conclusion, it would be amazing to be able to concentrate an update in a short and fast function.

[2021-02-12 02:20] gusgeek opened #127 "Update function error"
Sorry for being so annoying, but I find that I want to make an update to my database, and it literally updates all the entries with the last update that has been made to that store.

This is the code snippet

[code]

I am doing something wrong?

[2021-02-12 07:19] Timu57 commented on #127
Hi @gusgeek
You are not annoying! You can ask as many questions as you want! You are always welcome!

If you want to you can also join our [Discord channel](https://discord.gg/WJGqUFPtZw).

Your code looks completely fine but I thought we could make it a little bit more generic :smiling_face_with_three_hearts:
It's just an alternative to your code and has nothing to do with your problem, so you ca

[2021-02-12 17:27] Timu57 opened #128 "Add ability to use one store object for multiple stores."
We could achieve something like that by adding a `changeStore($storeName, $dataDir, $configuration)` method.

[2021-02-12 18:44] dvygolov opened #129 "Please add Group BY Method"
Sometimes it is necessary to group your data and it takes time to write grouping manually. Looking forward to have grouping in SleekDB and thank you for this awesome product!

[2021-02-12 18:54] gusgeek commented on #127
Hey, thanks! really!

I like what you present to me, although in a way I think I go through the entire _POST array looking for this.

I will take it.

Outside of this, I really couldn't fix the SleekDB Update. I must be very sleepy so tomorrow I will continue and tell you. I close the thread in the meantime.

Thanks again.

[2021-02-12 19:08] #127 closed

[2021-02-14 16:38] Timu57 commented on #129
HI @dvygolov,
that could be a nice feature.
I think the implementation is possible but can be a little bit tricky.

# Concept to discuss

https://www.geeksforgeeks.org/sql-group-by/
That article explains Group By in a good way. We can use that to implement Group By correctly.
The Group By functionality should also include the Having functionality instead of extracting it to an extra method.

The G

[2021-02-14 17:32] rakibtg commented on #129
@Timu57
Great follow up on implementing GROUP BY method! 🍻

Can we extract the code that handles this huge logic into its own class to a different file?

We can allow a param like: `ALLOW_EMPTY`; default would be `false`

Should we also consider the `select` and `except` method?

[2021-02-14 17:40] Timu57 commented on #129
@rakibtg

What do you mean with that in detail? I dont quite understand :relaxed:

That is a really good idea :+1:

I thought we could disable select and except if groupBy is used. Because `select` and `except` will not have a real effect..

[2021-02-15 18:51] rakibtg commented on #129
@Timu57

Sure, I think this is a big feature and it might need lots of code. So, i was thinking if we can move it to a new class and then integrate with our Query class? Would that be a good idea?

[2021-02-16 03:56] Timu57 commented on #129
@rakibtg

I thought a little bit about that topic but I can not come up with a good idea to split the Query class into multiple smaller classes in an efficient and good way :cry:

[2021-02-16 12:47] Timu57 opened #132 "Add alias for select"
Add the ability to specify an alias for a field.

[code]

[code]

[2021-02-16 12:48] Timu57 opened #133 "Add ability to select and exclude nested fields"
Example:

[code]

[code]

[2021-02-16 13:35] Timu57 commented on #129
# Final implementation

## select()
When using `groupBy` and `select` together the `select` method has additional features.
All fields that are wanted in the result have to be specified.
Previously by default defined fields are not automatically in the result any more.
You can specify all fields that are used to group, the countKeyName and functions.

Available functions: `SUM`, `MIN`, `MAX` and `

[2021-02-17 03:50] Timu57 opened #134 "Add ability to update nested values"
If `updateById` of `Store` class or `update` method of `Query` class is used, there is no possibility to change the value of an value that is nested.

Example:

[code]

We should implement the following functionality:

[code]

Expected Result:

[code]

[2021-02-17 03:58] Timu57 opened #135 "The update method of Query class should return either the updated documents or false"
[code]

[2021-02-17 06:03] Timu57 commented on #126
Implemented with version 2.6

[2021-02-17 06:03] #126 closed

[2021-02-17 06:03] Timu57 commented on #128
Implemented with version 2.6

[2021-02-17 06:03] #128 closed

[2021-02-17 06:03] Timu57 commented on #129
Implemented with version 2.6

[2021-02-17 06:03] #129 closed

[2021-02-17 06:03] Timu57 commented on #132
Implemented with version 2.6

[2021-02-17 06:03] #132 closed

[2021-02-17 06:04] Timu57 commented on #133
Implemented with version 2.6

[2021-02-17 06:04] #133 closed

[2021-02-17 06:04] Timu57 commented on #134
Implemented with version 2.6

[2021-02-17 06:04] #134 closed

[2021-02-17 06:04] Timu57 commented on #135
Implemented with version 2.6

[2021-02-17 06:04] #135 closed

[2021-02-17 06:16] Timu57 opened #137 "Add ability to remove one or multiple fields from a document"
The user can already retrieve the documents, change them and save them again to remove specific fields.
The following two methods could make that a little bit more convenient.

`removeFieldsById` method for the Store class.
[code]

`removeFields` method for the Query class.
[code]

[2021-02-17 14:33] dvygolov commented on #129
Wow, guys!!! That was FAST, thanks a lot, will give it a try soon🤝

[2021-02-17 22:38] Timu57 commented on #129
@dvygolov would be nice if you could give us some feedback 😁

[2021-02-18 00:22] Timu57 commented on #37
Implementing fulltext search in boolean mode like described here:
https://dev.mysql.com/doc/refman/5.6/en/fulltext-boolean.html

Does someone have an idea what could be the best solution to implement the different operators `-`, `+`, `~`, `<`, `>`...
Or should we ignore the operators for now?

[2021-02-18 08:14] Timu57 commented on #37
https://github.com/rakibtg/SleekDB/pull/138#issue-575485487
Description of new implementation.

[2021-02-18 11:46] Timu57 opened #139 "Remove the importance of field order when searching"
It could be a good idea to implement a configuration to remove the order importance.
If someone wants to search through multiple fields but one field is not more important than the other and all are equal.

[2021-02-18 11:47] Timu57 commented on #139
Should the importance be disabled by default?
How can we name that configuration?

[2021-02-18 13:16] REDAL opened #140 "add an index table for fast search queries"

[2021-02-18 15:06] Timu57 commented on #140
Hi @REDAL
Thank you for your enhancement request.
Do you have an idea how we could achieve that?

[2021-02-18 15:08] Timu57 commented on #139
Different algorithms implemented with #141

[2021-02-18 15:21] Timu57 opened #142 "Add the ability to group fields when searching"
When using the "prioritize" algorithm the order of the fields is important.
The user should be able to group fields together.

[code]

In the example above "title" will have the highest weight. "subtitle" and "content" will have the same and second highest weight.  "description" will have the lowest weight.

[2021-02-18 16:02] rakibtg commented on #140
@REDAL @Timu57 I also give this many thoughts but the challenging part is to update a single file line by line without loading it entirely into memory.

[2021-02-18 17:50] gusgeek opened #143 "Unsafe Comparisons"
I tell you that I was experimenting with the latest version of SleekDB, (**By the way, Thanks for integrating updateById**), I found that I was having problems when searching for ID in fetchById / findOneBy when I pass a String instead of Int when pointing to _id .

Will you be comparing correctly?

I was able to fix it by converting the string to int with the intval () function.

[2021-02-19 12:36] REDAL commented on #140
how about starting by splitting the index table by alphabetical order, where indexes are stored in order, so we can manage small fie size, and also to be faster. and also when we need to update a file, we update just the file needed, and not the entire index table, we can call it, alphabetical order index table,

as you know, it takes a long time to open and close files, especially when every reco

[2021-02-19 12:55] REDAL commented on #29
we can make it only for the supported version of PHP

[2021-02-19 20:23] Timu57 commented on #140
Your idea is nice, sure it would be great if you could try to solve that problem.

What are the main problems when trying to deal with large files containing multiple documents?

1. Updating a document.
2. Deleting a document
3. Memory consumption

If we want to use one big file to manage multiple documents all of the above mentioned points have to be solved in order to be able to do that..

For e

[2021-02-19 23:51] Timu57 opened #145 "Split classes into subclasses"
The Query class is now over 1000 LOC. We should spit it into multiple classes.

The Store class is over 700 LOC and should be split too.

[2021-02-21 11:25] Timu57 opened #147 "Custom folder structure"
We could add the ability for custom folder names via a configuration setting.

[2021-02-21 17:53] REDAL commented on #140
hi again Timur,

for the problem of updating large files, u can only update a part of a file, using fopen fseek fwrite,

but I see the global issue with that, only I am saying, that it is done with other databases, and we can do something like, if we put all our hands-on.

I've put this idea, in regards, making sleek DB high-volume database, because u know, u can't have infinite numbers of files.

[2021-02-21 18:28] Timu57 commented on #140
@REDAL
The problem with `fopen`, `fseek`, `fwrite` is the following.

A simple example:
We have a file that stores the following string:

"Hello world" (11 Characters)

And we update the file using the following string "Hello foo" (9 Characters) with the file pointer set to 0.
The file now will contain the following content:

"Hello foold"

The same problem appears when we update any part of a fil

[2021-02-22 05:33] Timu57 commented on #145
Done with version 2.7.

[2021-02-22 05:33] #145 closed

[2021-02-22 05:34] Timu57 commented on #143
Added with version 2.7.

[2021-02-22 05:34] #143 closed

[2021-02-22 05:34] Timu57 commented on #139
Done with version 2.7.

[2021-02-22 05:34] #139 closed

[2021-02-22 05:35] Timu57 commented on #37
Implemented with version 2.7.

[2021-02-22 05:35] #37 closed

[2021-02-22 05:35] Timu57 commented on #137
Added with version 2.7.

[2021-02-22 05:35] #137 closed

[2021-02-22 11:53] daussho opened #151 "Undefined index: dataPropertyName"
Please merge this PR.
#150

[2021-02-22 12:33] Timu57 commented on #151
Thank you for fixing the issue. Merged and released with version 2.7.1.

[2021-02-22 12:33] #151 closed

[2021-02-22 15:22] rakibtg commented on #147
Do we have any use case for that?

[2021-02-22 17:05] Timu57 commented on #147
No, just an idea and implementation would be easy :relaxed:
But I currently have no plans to implement it.
Just wanted to "take a note" with this issue and look how and if people respond :yum:

[2021-02-22 17:06] rakibtg commented on #147
Sounds great! ☺️

[2021-02-22 17:14] Timu57 commented on #29
We could use the following project to implement encryption instead of reinventing the wheel:

https://github.com/defuse/php-encryption

The dependency graph does not look bad too.

https://github.com/defuse/php-encryption/network/dependencies

But we would need to add the following to composer.json:

[code]

[2021-02-23 19:38] dvygolov opened #153 "Can't use SleekDB without Composer"
I get "can't find IoHelper" each time I try to use SleekDb without Composer. Managed to fix it by replacing line 19 in Store.php to
`foreach (glob(__DIR__ . '/Classes/*.php') as $traits) {`

Also had to add these lines to Query.php:
[code]

[2021-02-23 20:12] Timu57 commented on #153
Thank you for reporting the bug.

Fixed with version 2.7.2.

PS: When using SleekDB without composer just use the following line:
[code]
Then you can use every class.
[code]

[2021-02-23 20:13] #153 closed

[2021-02-24 10:33] Timu57 opened #156 "Add a method to count all files in store"
A fast way to get the amount all documents in the store.
[code]

[2021-02-24 11:18] Timu57 commented on #156
Added with version 2.8

[2021-02-24 11:18] #156 closed

[2021-02-24 15:54] sk-pro-cloud commented on #29
this is just a thought since we are talking about flat file system and thus given would be tables would be the files or table wold be individual folder with files as entry points. either ways. just encrypt with openssl with key provided by user. us the key to read write individual files, which ever the case may be. I am taking hint from how larvel uses key to encrypt session and cookies and become

[2021-02-25 14:44] Timu57 commented on #29
@sk-pro-cloud I am sorry but I did not understand what you meant? What would be handy?

[2021-02-25 15:00] Timu57 commented on #29
https://github.com/illuminate/encryption
The implementation of encryption in laravel is very interesting and simple.. Could that be something for us?

[2021-02-25 18:51] rakibtg commented on #29
@Timu57 In my opinion we should go for https://github.com/illuminate/encryption/ :)

[2021-02-26 10:43] Timu57 commented on #29
## Encryption modes

I think when implementing encryption we should implement it with 3 modes.

1. No encryption
2. Encrypt whole store
3. Encrypt parts documents

## How will SleekDB know which mode to use?

Solution ideas:
1. SleekDB creates and uses a new store called _encryptionSettings or something where all settings regarding encryption is stored
2. Every store include one new file that hold

[2021-02-26 18:44] rakibtg opened #162 "Should we implement "updateOrInsert" method?"
The method `updateOrInsert` will insert a new item if it's not already available otherwise update the existing item.

[2021-02-26 18:57] Timu57 commented on #162
It can use the same implementation as the `Store->update()` method, except the check if a file exists.

[2021-02-26 19:24] Timu57 opened #163 "Store documents/ files in multiple folders"
We could store files in multiple folders to avoid some performance issues shown here https://stackoverflow.com/questions/466521/how-many-files-can-i-put-in-a-directory/466596#466596

These folders could be called **segments**.

Example:

The folder with the name **"1000"** holds all files with the primary from 1 to 1000, the folder with the name **"2000"** holds all files from 1001 to 2000 and so

[2021-02-27 07:09] rakibtg commented on #163
I think it will be better if we put 5000 files instead of 1000 in a segment.

[2021-03-03 13:44] Timu57 opened #164 "Add optional orderBy, limit and offset parameters to findAll method."
[code]

[2021-03-03 13:58] Timu57 opened #165 "Should we replace all mentions of "_id" in the documentation"
SleekDB allows users to define their own primary key, for example "id" or "pk" instead of using the default "_id" key.

Should we replace all mentions of "_id" with "primary key"?

### Example 1

Current:
Returns the inserted document as an array including the automatically generated and unique _id property.

After:
Returns the inserted document as an array including the automatically generated an

[2021-03-06 03:30] rakibtg commented on #165
@Timu57 If we keep `_id` by default then let's keep it there. Some where in the doc we need to explain this issue as well.

[2021-03-06 11:43] REDAL commented on #163
why we just don't let it with a parameter, so the user can choose the segment, as it suits its server capacity

[2021-03-06 11:44] REDAL commented on #162
it will be a good addon

[2021-03-06 11:45] REDAL commented on #142
I just love the idea, and I see that SleekDB is moving fast to have great features and functionalities, such as MySQL why not :)

[2021-03-06 15:16] Timu57 commented on #165
You are right, we should let it as is. If someone changes the _id primary key they know what they have done and should understand the _id mentions correctly.

[2021-03-06 15:16] #165 closed

[2021-03-06 17:02] Timu57 opened #167 "Should we add more file types and custom decoders/encoders?"
We could add the ability to save the documents in a different file format, for example in plain txt files or yaml files.

To achieve that we could provide a file format configuration and hooks for the users, where they can apply their own encoder/decoder.

This is just an idea and I am not sure if there is a use case for such a feature.

I would like to hear your opinions.

[2021-03-06 18:10] Timu57 opened #168 "Change implementation of limit and skip methods"
Currently the `limit` method does allow insertion of strings.

That is a not wanted and expected behaviour because the implementation does not consider that case.

We should either update the implementation of `limit` to accept strings properly or restrict it to integers only.

If we decide to allow strings with `limit` we should also allow it with `skip`.

I think we should implement `string` sup

[2021-03-06 20:36] jmencoder opened #169 "Is possible concatenate from query ? How ?"
I get the data in the next way

### My Example

$result = $tabla->select(["user","firstn","lastn","email","phones"])->OrderBy("desc")->fetch();

I need CONCAT **firstn** and **lastn**.

[2021-03-06 23:43] Timu57 commented on #169
Hi @jmencoder can you tell me a little bit more about your use case?

[2021-03-07 00:55] Timu57 opened #170 "New functions for select"
#169 brought the idea.

We could implement functions for select (like we have with select in conjunction with groupBy).

# [List of all Mysql-Functions](https://www.w3schools.com/sql/sql_ref_mysql.asp)

I think the following functions could be useful for us? Would like to hear your opinions!

## String functions

### CONCAT
https://www.w3schools.com/sql/func_mysql_concat_ws.asp

[code]

### LENGTH

[2021-03-07 00:56] Timu57 opened #171 "Make having method independ from GroupBy"
If we implement #170 we should also make the `having` method independ.

Having should be used to filter the result set further after the alias names and functions are applied. (Same behaviour in MySQL)

[2021-03-07 01:07] Timu57 commented on #169
Currently the only two ways I can think of are the following:

## Concat on insert

[code]

## Concat on output

[code]

[2021-03-07 01:31] jmencoder commented on #169
Thnks.

But, I need to do something like this.

SELECT **CONCAT(**_FIELD,_ '', _FIELD_**)** FROM TABLE.

[2021-03-07 02:12] Timu57 commented on #169
@jmencoder I am sorry but that is currently not possible. In #170 I describe adding that feature, so look forward for future releases :relaxed:

[2021-03-08 10:08] REDAL commented on #167
Hi Timur,

yes it is a good idea, especially, if the user wants to implement rest API, where the other end, needs a specific file type, for communicating.

[2021-03-08 10:09] REDAL commented on #170
awesome, like I said before, SleekDB is moving forward to have like functions as MySQL :) why not

I APPROVE

[2021-03-08 10:13] REDAL opened #172 "adding a language specific search algorithms"
why not implement specific language search algo, to be more suitable for languages, for example, my case "ARABIC", there are many language parameters, to be put on the mind, in making the search algo.

[2021-03-08 10:23] Timu57 commented on #172
Hi @REDAL That is a really good idea!

Can you tell me about what to take into consideration when wanting to search through Arabic language?

Example:
Are words separated by space or something else?
Which charset does that language use? UTF-8?
Is there something like a minimum word length that can be useful to know when searching?

I am not familiar with the Arabic language. Would be awesome if yo

[2021-03-08 11:23] REDAL commented on #172
for the charset use its UTF-8

as you know, when taking search algorithms into considerations, there is what we call empty words, the words that we remove before searching, and it's not only in Arabic,

also, in Arabic, there is specifics of the language itself, like the and a, in the English language, but in Arabic, it's linked to the word itself, u can think of it in English like this "theHouse"

[2021-03-11 10:25] REDAL opened #173 "load balancing technique"
Hi SLeekDB Community,

what about adding a load balancing for SleekDB, by making it replicate data between multiple points, and saving the sync state, each time sync is made

[2021-03-11 11:21] Timu57 commented on #173
Hi @REDAL
That sounds very interesting. What would the use case be like? If SleekDB is split/ replicated on the same drive, that would not make any difference. The only thing that could make a difference is splitting/ replicating it over multiple drives.

[2021-03-11 11:25] Timu57 commented on #172
I am really sorry, but I really have no clue how to implement the arabic language, because I am not familiar with that language.
It would be awesome if you could write everything that has to be taken into consideration when implementing support for that language.
If you want to you can also try to implement that by yourself. Contributions are always welcome and I can help you if you need help! :re

[2021-03-11 11:33] Timu57 commented on #162
The updateOrInsert method is implemented, but I think about removing it before the next release and instead adding a new optional parameter to the `insert` and `insertMany` method.

### Current
[code]

[code]

### After
[code]

[code]

### $safeInsert

Can be `true` (default) or `false`.
If it is `true` the methods will **throw an exception** if a document to insert **has the _id key**.
If it is `

[2021-03-11 19:02] sk-pro-cloud commented on #29
@Timu57 you caught my gist very nicely and was precisely the larvel repo I had in mind.  you are on a right track there is encryption on normal. there is normal+salt+key.

Now there might be cases were one does not need to the whole razmataz of encryption just that file is tinkered with  e.g. how Opis if signing files https://opis.io/closure/3.x/security.html. One could adopt the idea of https://o

[2021-03-16 05:22] rakibtg commented on #162
@Timu57 Thanks for the update! It's indeed a good idea. Although I think that having the `updateOrInsert` method would more easy to understand rather than using the `safeInsert` argument. It's just my opinion so you can take the decision :)

[2021-03-17 07:18] yssunjoko opened #174 "Selecting a document with array key"
I've got a document containing:
"category":["a", "b", "c"]

and this is how I try to fetch the document:

$params = [];
array_push($params, ["category", 'in', "a"]);
$docs = $collection->findBy($params);

and it doesn't work.
I believe there should be some ways to fetch it, in case the data is labelled by some multiple categories.
Can you help?

[2021-03-17 14:00] Timu57 commented on #174
Hi @yssunjoko the feature you ask for is currently not implemented.

The `IN` condition checks if the value of a field ("category") is in a given data array.

We could provide that feature by implementing `CONTAINS` and `NOT CONTAINS` as new conditions.

That new conditions could do two things:

1. If the field value is an array it checks if the data is (not) found in that array. (Check against fi

[2021-03-19 19:14] REDAL commented on #173
I am talking, about replication over multiple servers, not same drive

[2021-03-19 19:15] REDAL commented on #172
great Timur, sure will, I ll let u know, when I do it

[2021-03-20 17:57] rajeshsharmadl opened #175 "Insert at position?"
Is there any way to insert record at a particular position of collection?

[2021-03-20 18:12] Timu57 commented on #175
Hi @rajeshsharmadl
I don't quite understand what you mean, could you please explain your use case?

[2021-03-21 06:22] rajeshsharmadl commented on #175
I am developing a website where I may need to insert record into existing collection but at a particular position. This way, when data loads, the entry loaded in last, will still be displayed at the selected position.

I hope, I am able to clarify.

[2021-03-21 13:55] zeustakes opened #176 "Several files for each new data in a store"
Hi, I tried SleekDB, and it looks great, but I have a question about it, when I insert data, I can see in the file structure of the "store" (/data) one .json file per each register, that's  how it works?, may not be better to fill all in one single .json (that is /cache), don't understand how it can be fast with all these files, for example for 20000 registers I will have 20000 files, I think this

[2021-03-21 15:29] Timu57 commented on #176
Hi @zeustakes
Thank you for your interest and questions.

Yes, that is how SleekDB currently works.

That is discussed in #26 and #140.
We could not figure out how to create an efficient solution with a single file.
The first thing we want to avoid is to load all documents into the memory every time.
That problem could be solved somehow but the main problem is updating/ deleting documents.
If you

[2021-03-21 15:42] Timu57 commented on #175
@rajeshsharmadl I think I get what you mean.

If you want to return the documents always in a specific order you can do that by your own.
SleekDB provides everything you need to make that kind of functionality.

Example solution:

For every document you save a attribute called "position".
The first document will have the position = 1, the second one position = 2 and so on..

If you have for exampl

[2021-03-22 10:38] rajeshsharmadl commented on #175
Thanks.

This is an excellent solution and should work fine. I will give it a try.

Regards

On Sun, 21 Mar 2021, 21:12 Timucin Ünal, ***@***.***> wrote:

[2021-03-23 22:20] Timu57 commented on #175
Nice to hear that I could help you.
I will close the issue for now, feel free to reopen it if needed.

[2021-03-23 22:20] #175 closed

[2021-03-23 22:22] Timu57 commented on #176
Hope I was able to clarify some things and help you a little bit.
I will close this issue for now, please feel free to reopen it if needed.

[2021-03-23 22:22] #176 closed

[2021-03-26 11:02] daussho opened #177 "Unique insert"
Can we implement unique insert, so it will search for duplicate key/value in document, and if it not exist, it will insert the document or it will throw error.

[2021-03-28 01:19] Timu57 commented on #174
I would like to hear your opinions.
With the next release we will introduce two new conditions `CONTAINS` and `NOT CONTAINS`.

They check if an attribute of a stored document contains or not contains a given value.

For example an article that has a `tags array`.

### CONTAINS

It will return `true` if tags is an array and the array contains "value".

### NOT CONTAINS

Two possible solutions:

1.

[2021-03-28 01:52] Timu57 commented on #177
Hi @daussho
Thank you for you feature request and great idea.
@rakibtg would like to hear you opinion on my following thoughts too.

Currently SleekDB is a completely schema less document database.

The implementation of a functionality to only insert something if no document with a specific value in a specific field exist is quite easy.

[code]

But a "unique" feature could be interesting if the

[2021-03-28 02:07] Timu57 commented on #162
I have a important question regarding the implementation.

If someone use that new method `updateOrInsert` and wants to insert the following two documents.

[code]

We have the following scenario:

`_id = 23` exist, the stored document will be overwritten.

`_id = 105` does not exist, the last stored `_id` is 67.
Should this document now be inserted with the `_id = 68` or with the `_id = 105`?

[2021-03-28 05:56] Timu57 opened #179 "Should we add Lazy Loading?"
Currently we save and return all found documents in an array.

A solution approach for lazy loading could be that we create an object called `Results` or something that extends `Iterable`.

So the user can use it like an array.

The Results object stores an array containing just the id's of all files found.

When the user now iterates of Results the document will be loaded and returned. (file will

[2021-03-28 16:17] rakibtg commented on #162
@Timu57 Is `_id` property is mandatory? It should not be a mandatory field, and if the item is new then we should ignore the `_id` due to this implementation of generating unique ID for each documents
https://github.com/rakibtg/SleekDB/blob/48d962644d4d93b38a0918d002f525d2f6e7954c/src/Store.php#L711-L720

[2021-03-28 16:21] rakibtg commented on #179
@Timu57 Nice idea! When do we clean those temporary files?
However, I dont think we need lazy loading feature at this moment due to the caching layer that we have!

[2021-03-28 17:09] Timu57 commented on #179
@rakibtg Ok, if you mean we don't need it currently :)

That came into my mind because we save all results into a single array and if the database is big the array could take too much ram..

[2021-03-28 17:17] Timu57 commented on #162
@rakibtg No, `_id` is not mandatory. That was an example if the user wants to use `updateOrInsert` with that documents..
Ok, then I will change the implementation of `updateOrInsert`.
Id `_id` does not exist in the database, it will be ignored and the next `_id` will be generated automatically.

Then I will implement the $safeInsert for `insert` and `insertMany` methods, with that the user can ins

[2021-03-29 03:13] daussho commented on #177
I think it is good idea to implement db schema to make db rule more easy to understand, for now I'm usually use [array validation](https://github.com/rakit/validation) for enforcing schema to my database. But array validation not working with validation that need data from db, hence I'm thinking adding this feature.

[2021-03-29 17:19] Timu57 commented on #177
That looks interesting:
https://github.com/laravel/framework/tree/8.x/src/Illuminate/Validation

[2021-03-29 21:48] rakibtg commented on #179
@Timu57 Correct! Later we can stream a file instead of loading all the contents in memory to tackle this problem.

[2021-03-30 02:43] daussho commented on #177
Can this library use without laravel?
The library i linked above can be used as a standalone, and actually it can used custom validation like unique and check db to verifiy if data is unique.

And now I'm thinking if this feature implemented, we should also implemented database transaction. Say if I insert many data, and one of my data not valid based on the schema, it will throw error and the ins

[2021-03-30 09:43] Timu57 commented on #177
It seems like the `rakit/validation` has a very similar implementation like `Illuminate\Validation`.

We try to avoid dependencies, and we probably need to make optimize the validation process for our needs.
But both implementations are very easy to understand and MIT licensed. So we probably can borrow some ideas they implemented.

I would like to hear what @rakibtg thinks regarding this topic.
S

[2021-04-01 06:20] Timu57 commented on #162
Implemented with version 2.9

[2021-04-01 06:20] #162 closed

[2021-04-01 06:20] Timu57 commented on #164
Implemented with version 2.9

[2021-04-01 06:20] #164 closed

[2021-04-01 06:20] Timu57 commented on #168
Implemented with version 2.9

[2021-04-01 06:20] #168 closed

[2021-04-01 06:21] Timu57 commented on #170
Implemented with version 2.9

[2021-04-01 06:21] #170 closed

[2021-04-01 06:21] Timu57 commented on #171
Implemented with version 2.9

[2021-04-01 06:21] #171 closed

[2021-04-01 06:21] Timu57 commented on #174
Implemented with version 2.9

[2021-04-01 06:21] #174 closed

[2021-04-01 06:22] Timu57 commented on #169
Implemented with version 2.9

[2021-04-01 06:22] #169 closed

[2021-04-01 09:57] yssunjoko commented on #174
Hello @Timu57 I'm so sorry for so being so late replying.
Thanks for implementing the CONTAINS and NOT CONTAINS.
I think I prefer Solution 2 to the other.

[2021-04-10 15:54] CaptainKant opened #183 "SleekDB is not compatible with ReactPHP"
I use ReactPHP for async stuff.
I needed a simple no-sql database so I tried SleekDB : it seems that "findOneBy" query are stuck forever when used in a  parallel thread.

[2021-04-11 11:33] Timu57 commented on #183
Hi @CaptainKant,
I don't know ReactPHP, do you know why this could happen?
Does other methods of SleekDB work?
Would be nice if you could provide more information.
Could that be a bug of ReactPHP?
Could you share the code that produce the error?

Thank you in advance.

[2021-04-11 23:30] netomarchiori commented on #173
SleekDB saves files to a folder. I you have GlusterFS in your server and point your document store to a GlusterFS, there you go, replicated files across all your servers!

[2021-04-11 23:37] netomarchiori opened #184 "select(['field1', 'field2', 'fieldN'])"
Hey there!

any way to query only a couple of fields from a document?

Something along this:
$user = $userQueryBuilder
  ->select(['city', 'country'])
   ->where([ "city", "=", "london" ])
  ->getQuery()
  ->fetch();

or do I have to pick wanted fields manually? (this is what im doing today, iterating the result list and creating new documents on the fly only with wanted fields)

[2021-04-11 23:38] #184 closed

[2021-04-11 23:38] netomarchiori commented on #184
sorry, nevermind

[2021-04-13 15:48] Timu57 opened #189 "Validation and Schema"
As pointed out by @daussho in #177 it is a good idea to implement a Schema feature to make validation with features like "unique" possible.

That schema could include many conditions to validate new documents before inserting them:

* required
* unique
* int
* float
* min
* minLength
* maxLength
* array
*  string
* email
* numeric
* AND MUCH MORE...

Interesting libraries are:

https://github.com/

[2021-04-13 16:03] Timu57 opened #190 "Database Transactions"
As pointed out by @daussho  in #177 a database transaction feature with automatic rollback would be awesome.

Interesting articles regarding database transactions:

https://en.wikipedia.org/wiki/Database_transaction
https://en.wikipedia.org/wiki/ACID

https://en.wikipedia.org/wiki/Software_transactional_memory

[2021-04-13 16:05] Timu57 commented on #177
I separated this issue into two independent issues.
I will close this issue, feel free to reopen it if needed.

[2021-04-13 16:05] #177 closed

[2021-04-13 16:09] Timu57 commented on #183
With the information provided it is not possible to find out if the issue is caused by SleekDB, ReactPHP or because of wrong usage.

Due to the lack of information I will close this issue for now, feel free to reopen it if needed.

[2021-04-13 16:09] #183 closed

[2021-04-16 07:53] arunnabraham opened #191 "Memory File DB?"
Since the concept is good. Is there any way this could be using `php://memory` ?

[2021-04-16 12:45] Timu57 commented on #191
Hi @arunnabraham I don't understand your question.
Would be nice if you could describe your question a little bit better.
Thank you in advance.

[2021-04-21 21:50] Timu57 commented on #191
I will close this issue for now. Please feel free to reopen it if needed.

[2021-04-21 21:50] #191 closed

[2021-04-22 03:51] arunnabraham commented on #191
Hi. If I am not wrong, SleekDB uses JSON file-based database right? Hope it uses PHP array manipulation in the background.
Since it also uses `fopen` in the background, could we possibly use php://memory instead of file name?

My thought is to use it along with multiple Sharded DB environments. So I don't want to use joins directly on my RDB but fetching multiple tables which are on different DB i

[2021-04-23 17:24] Timu57 commented on #191
Do I understand it correctly? You want to save all documents/entries in the RAM? What happens if the Server goes down and the RAM is cleared?

[2021-04-24 00:24] arunnabraham commented on #191
The memory is used only for computation which would be a temporary one.

[2021-05-01 10:40] webghostx opened #193 "Question: Is SleekDB suitable for a growing project?"
Hello

First of all, congratulations on this impressive project.  I like the usability so much :smile::thumbsup:

My question is very specific and does not fit here very well, but I would still like to try to get an assessment. Scalability worries me because you write SleekDB is designed to be a database for low to medium operational loads.

I'm working on a project that provides data for a websit

[2021-05-01 17:29] bioshock opened #194 "why is there 120 second timeout and we need an option to disable timeout"
not sure why set a default 120seconds timeout ?

should have an option to disable setting timeout for cli scripts

[2021-05-03 08:43] Timu57 commented on #194
Hi @bioshock you can set the time limit to infinite by providing zero https://www.php.net/manual/en/function.set-time-limit.php

[2021-05-03 08:43] #194 closed

[2021-05-03 09:25] Timu57 commented on #193
Hi @webghostx
Thank you for your kind words.

We already have a kind of full-text-search implemented: https://sleekdb.github.io/#/searching

Using a separat table to calculate the statistics once every time period is always a good thought if there are many entries.

If you have millions of entries per day a file based database like SleekDB will not be enough. But if you have millions of entries so

[2021-05-03 14:48] webghostx commented on #193
Hi @ Timu57

Thank you very much for your detailed assessment. That helps me a lot.

I will start with SleekDB and use MySQL for statistics. I don't think I would be happy with SQL alone.

Elastic Search is a great thing, but I want to start with a small cost and see it grow.

I don't think the writes will increase that much later, so that shouldn't be a problem. I hope the read access will be a l

[2021-05-04 15:00] Timu57 commented on #193
You are welcome :relaxed:

[2021-05-04 15:00] #193 closed

[2021-05-11 08:51] thipages opened #195 "User access - Auth stuffs"
Hi,
is there plan for user authentification/authorization in SleekDB roadmap  (eg through a dedicated store) ?
Thank you

[2021-05-11 11:59] vitalijm opened #196 "Posts with categories"
Hello, thanks for very helpful plugin.
One question here is: **how better organize posts with categories [logic]?**

1. Categories better put separately from posts and then do some join?
2. How better create relations between categories and posts [some ids]?
3. Sub categories [feature]
4. Pagination: will be no problem?
5. How better organize this from performance point?

Maybe someone have exampl

[2021-05-11 13:02] vitalijm opened #197 "Syntax error in "complete examples""
Url: https://sleekdb.github.io/#/complete-examples
Section: Insert one document

![image](https://user-images.githubusercontent.com/4138530/117819394-2b747380-b272-11eb-8810-5357d399dea3.png)

[2021-05-12 04:56] Timu57 commented on #195
Hi @thipages currently there are no such plans. What could the use case for an authentication/ authorization feature be?

[2021-05-12 08:09] thipages commented on #195
Hi,
the use case is to allow users (to log and) to change their own datasets while sharing some common datasets. In addition, this is for using within javascript.

I am not sure this is in direct SleekDB scope but it may be managed as an add-on through dedicated store/process.

This feature has been raised briefly [here ](https://github.com/rakibtg/SleekDB/issues/29#issue-568137289).

Thank you fo

[2021-05-12 08:09] #195 closed

[2021-05-29 08:28] Timu57 commented on #197
Hi @vitalijm Thank you for the report. It is fixed now.

[2021-05-29 08:28] #197 closed

[2021-05-29 08:58] Timu57 commented on #196
Hi @vitalijm
First of all, your solution is good.
You can use joins with SleekDB to organize your NoSQL database if you wish to.
All subsequent requests after the first one are very fast thanks to our caching layer solution. Means joins are made just once.

That said:
Normally when using a NoSQL database you aim to us a different kind of database structure, where you store a subset of the document

[2021-05-29 08:58] #196 closed

[2021-05-29 15:56] vitalijm commented on #196
thanks for explanation

[2021-05-29 16:44] Timu57 commented on #196
@vitalijm You are welcome.
If you have further questions, feel free to ask

[2021-05-29 19:57] webghostx opened #198 "_id is converted to string"
Hi

I've been looking for a bug in my script for a long time. I noticed that "_id" suddenly became a string.

`'_id' => string '3' (length = 1)`

`$store->updateById( 3, ["_ id" => 3] );` throws an error. Nothing can happen there. But the following, of course completely nonsensical, code converts the "_id" to a string

[code]
It seems that you can only go back manually or delete the data record

r

[2021-05-30 14:07] Timu57 commented on #198
Thank you very much for reporting that bug.
It should be fixed with SleekDB version 2.10.2.
Feel free to reopen this issue if the bug is not fixed.

[2021-05-30 14:07] #198 closed

[2021-06-18 10:25] enumag opened #205 "Setting timeout is NOT a responsibility of this package"
Found out that my console commands were failing after 2 minutes on php timeout which was nonsense because I don't use any timeout, I even have `set_timeout_limit(0)` in my `bin/console`. After investigation the culprit is your package:
https://github.com/rakibtg/SleekDB/blob/e902006b36e35f6125c936b07bd108c7d60f15d5/src/Store.php#L43
https://github.com/rakibtg/SleekDB/blob/e902006b36e35f6125c936b07

[2021-06-18 15:55] Timu57 commented on #205
Hi @enumag
Thank you for your report and your suggestion.

I think that functionality was added because SleekDB can be time expensive on some circumstances, so the user can change the timeout in a convenient way with a configuration.

Your suggestion to deprecate and later remove that configuration could be a good idea.
@rakibtg what do you think about that?

PS: You can easily disable the usage o

[2021-06-18 16:10] enumag commented on #205
I'm aware ofc I did that immediately. The point is that this was completely unexpected side-effect of a library my colleague added and it caught the whole team off guard. Plus it took quite a bit of time to debug which damned library was doing such thing. Look if it makes sense for you to have this feature (I respectfully disagree) then keep it but for gods sake don't have it enabled by default.

[2021-06-18 16:22] enumag commented on #205
In my opinion calling set_time_limit in application code is convenient enough for your users in case they need it. Having timeout configuration in a library makes sense if it's a timeout for the internal operations of that library. It shouldn't have a global side-effect like this on the entire application. Don't forget that most of the time SleekDB will be simply a service in DI container and as s

[2021-06-18 21:17] oCyex commented on #189
@Timu57
I'm considering trying SleekDB as well as https://github.com/nette/schema.
It could be a good team, right?

[2021-06-18 21:23] Timu57 commented on #189
Hi @Timu57

Sure, SleekDB does nothing schema related, so if you want to use another library to enforce a schema, you are free to do so :relaxed:

SleekDB doesn't restrict you in any way :grin:

[2021-06-18 21:41] Timu57 commented on #205
I am completely on your side regarding that topic. I also don't quite understand why such a configuration was added in the first place..
The only reason why I don't remove that configuration instantly, is to ensure backwards compatibility.

If I were a part of the SleekDB community for a longer time, I possibly would've prevented the addition of that configuration.

And you are completely right. I

[2021-06-19 21:49] oCyex commented on #189
@Timu57 Yeah!

It's just I thought it was the perfect libraries to get inspired for what you wanted to do ;)

[2021-06-30 06:10] bioshock commented on #194
i know how to disable timeout . but setting timeout globally is not the best option.

what is reasoning behind adding timeout using set_time_limit ?

[2021-07-01 11:45] geekalaa opened #206 "Problem with init database"
while init the store
new \SleekDB\Store("galleries", $this->databaseDirectory);
 i am facing this error : Fatal error: Uncaught Error: Class 'SleekDB\Query'

Php version 7.3
ubuntu
vps
nginx

[2021-07-01 20:15] Timu57 commented on #206
Hi @geekalaa
I would like to help you, could you please provide a little bit more information?
For example:
1. What is the exact error code?
2. What did you want to do when facing that error
3. Do you have an idea yourself, why that error could have occurred?

Thank you in advance

[2021-07-05 12:44] Timu57 commented on #206
I am closing this issue due to no response.
Feel free to reopen it if you still have that issue.

[2021-07-05 12:44] #206 closed

[2021-07-10 15:51] bespired commented on #189
Hi. I’m pretty new to this.
If this is “discussion” then I’d like to add I really dislike DB (nerds) way of thinking about “types”.
Laravel way of validation is very bad as well.
It’s all very nice and dandy to validate if a color is a string or an int but it’s useless.
And it’s all cool and great to store an age in an int or in a bigInt but next year I’ll be a year older. My birthday will stay th

[2021-07-10 16:02] bespired opened #207 "UUID or non incremental _ID"
Hi.
Is it possible to use a UUID or non incremental ID in sleek DB?

I’m asking for a friend.

No. It’s for me.
What I’m looking into is a DB that I can merge in Git with others using the same checkout.
I know everything is in the cloud these days, but let’s face it, that’s a security risk and a maintenance job.

What I would like is a DB that can be altered locally but will merge with no trouble

[2021-07-10 22:25] bespired commented on #207
https://github.com/bespired/sleekdb
Created a fork to test and try it out.

Seems to work for now with:
[code]

I don't think I can run the tests as they seem to depend on key being _id.
Will try some more and figure out how to create a pull request.

[2021-07-11 00:44] Timu57 commented on #207
Hi @bespired
Sounds like a great idea to make the primary key more versatile.
Feel free to implement it if you want to :relaxed:

Don't forget that it has to be implemented in a backwards-compatible way, means the **primary key** needs to be an `integer` and `_id` by **default**.

If you need any type of help or have questions, don't hesitate to ask.

PS: Asking questions and staying in contact is

[2021-07-11 02:30] Timu57 commented on #205
@enumag thank you for your input.

`timeout` is now deprecated and the whole configuration option will be removed with the next major update.

[2021-07-11 02:30] #205 closed

[2021-07-11 10:28] bespired commented on #207
Thanks for the quick response.

I see...
Well that rules out the UUID unless maybe stored as a bigInt.
The first thing I did was removing the `:int` from `increaseCounterAndGetNextId()` because
I want to write files with a prefix to disk. It still uses the number part though to make sure the id is unique.
But yeah... `_cnt.sdb` now holds a "weird" index.

So I guess I made my adaptations useless f

[2021-07-11 14:56] Timu57 commented on #207
The reason is very simple:

`checkAndStripId` is used in for example `findById`. Many users requested, that they want to use `findById` like this:
[code]
So I changed the implementation, that these methods accept strings.
But when allowing strings, there is a big risk.
`$_GET['id']` could contain something like these examples:
[code]

So I added `IoHelper::secureStringForFileAccess($id);` to secur

[2021-07-12 11:24] bespired commented on #207
` But I think we can change the implementation, that secureStringForFileAccess removes .. instead of ..`
Not needed for me, I was just wondering why it is there...
If you maybe already had some sort of sharding or prefixing.
I guess a uuid of ` 255-231-001`  can be changed into integer 255231001... By removing the -
But the auto-incremental would be needed to change to a "real" uuid.
I'm not sure

[2021-07-12 11:24] #207 closed

[2021-07-12 11:58] bespired commented on #29
What exactly are you trying to accomplish here?
Seems to me all the code needed to decrypt the stored files are right here where the files are ...

Or am I missing something?

Plus: Finding stuff in encrypted files can be very slow.

[2021-07-19 16:33] utasar commented on #163
Any news about this feature?

Big thanks.

[2021-07-23 08:24] MerryPanda opened #210 "Hello, is there a better ways than escape dot to address nested fields?"
`$userStore->updateById(24, [ "address.street" => "first street" ]);`

Dot is used as a functional symbol. So if i need to get a value that contains a dot, is escaping the only way to go or are there any more elegant solutions?

Thanks :)

[2021-07-26 07:34] prashant-saxena opened #211 "Table Configuration and improved caching"
Hi,

SleekDB is probably the best file based database solution I have found so far. Keep it up guys.
I'm getting introduced with sleekDB and I think these two features would increase the usability and performance factor.

**Table Configuration**
When creating a store
[code]
It would be better to specify field types as we do in SQL databases. For e.g.
[code]
This config should be saved on the disk.

[2021-07-26 23:29] Timu57 commented on #210
Hi @MerryPanda
Can you please share a little bit more information?
A little example document perhaps would be nice and what you want/ try to do with it in detail.
I am sure we can solve your problem.

[2021-07-26 23:41] Timu57 commented on #211
Hi @prashant-saxena
Thank you for your kind words and ideas/ suggestions.
We already consider implementing an optional "schema" feature #189
Your idea, that we don't have to store the keys is a nice addition :+1: thank you

The current caching-layer-implementation's main purpose was to decrease the amount of file reads after the first query.
You are completely right, detaching the caching-layer an

[2021-07-31 23:15] Timu57 commented on #210
I am closing this issue due to the lack of information.
Feel free to reopen it if needed.

[2021-07-31 23:15] #210 closed

[2021-07-31 23:21] Timu57 commented on #211
@prashant-saxena I added your suggestion to #189.
I am closing this issue. Feel free to reopen it if needed.

[2021-07-31 23:21] #211 closed

[2021-08-23 16:49] REDAL opened #214 "Benchmark SleekDB"
@Timu57 @rakibtg
Hi,

How about making a benchmark for SleekDB, for example, how many files, volume storage, and speed can SleekDB handle easily, it will be very beneficial for newcomers, to know approximately, what they can expect from SleekDB,

I know that this will deeply depend on the hardware configuration, and but can make a benchmark based on available characteristics, I can provide a hoste

[2021-08-23 18:52] Timu57 commented on #214
Hi @REDAL
Benchmarks sound nice, feel free to make some :)

[2021-08-23 19:49] johnnestebann opened #215 "Benchmark: SleekDB vs Sqlite3 on Symfony 5"
Hi there! and thanks for the project and the effort you are doing guys!

These are my results using the same logic for both on a minimal symfony app:
* writing 100k records:
  * sqlite (doctrine): RAM 100.01 MiB - 7966 ms (5.7 MiB total database)
  * sleekdb: RAM 2.00 MiB - 25825 ms (24.4 MiB total database)

* get 100k records:
  * sqlite (doctrine): RAM 27.01 MiB - 1828 ms
  * sleekdb: RAM 26.00

[2021-08-24 01:17] REDAL commented on #215
@johnnestebann
thank you for the benchmark, can you please increase the volume

regards

[2021-08-24 01:19] REDAL commented on #215
@Timu57 @rakibtg
by far SleekDB is much faster than sqlite3 :)

I think it will be a better idea, if u approve this benchmark or base it on other ones, and add them as statistics on the website, it will encourage newcomers to adopt rapidly SleekDB.

regards

[2021-08-24 01:21] REDAL commented on #214
@Timu57
@johnnestebann already did one, and I am very happy with the results, I actually like it is my library :) just loved it

[2021-08-24 01:28] johnnestebann commented on #214
@REDAL are you kidding me? I never see this post when I did my benchmarks test! it is incredible that you proposed the benchmark and 3hr later I was testing the package for my own haha I'm surprised!

[2021-08-24 01:30] REDAL commented on #214
@johnnestebann

it's not important who proposed first my friend, the idea, os to make it better ;)

and I appreciate your work really, and I did make a request, if you wish of course ;)

[2021-08-24 01:31] REDAL commented on #190
@Timu57 @rakibtg

Did you did further reading about this idea ?!

how about, making temporary files of the query, then verifying if everything went good, just renaming the files with the next id

for example, when trying to make 2 writing in 2 different tables, that are related, just make a temporary file table1.x(id).temp
and make the second writing, table2.x(id).temp, if both operations were suc

[2021-08-24 01:53] johnnestebann commented on #214
hahaha no no @REDAL I'm just saying it's incredible the coincidence of thinking the same thing almost at the same time, I'm just amazed

[2021-08-24 01:55] REDAL commented on #214
@johnnestebann

I agree brother, and I've understood you ;), like they said, the spirits gather in their own circles.

[2021-09-02 11:25] artem-danilov opened #216 "Deprecated timeout notice"
Just installed the sleekdb and have added  few lines of code:

[code]

and get an depricated notice on the screen

Deprecated: The "timeout" configuration is deprecated and will be removed with the next major update. Set the "timeout" configuration to false and if needed use the set_timeout_limit() function in your own code. in C:\Users\Dell\Desktop\sleekdb\vendor\rakibtg\sleekdb\src\Store.php on

[2021-09-02 16:04] EEKimS commented on #216
Also seeing this.

[2021-09-03 12:18] Timu57 commented on #216
Hi @EEKimS and @artem-danilov

The deprecation warning you get was implemented because of the following issue: #205

We will remove the usage of `set_time_limit` within SleekDB. You should use it in your own code if you want/ need it.

You need to set the `timeout` configuration to `false`, to get rid of that warning.
https://sleekdb.github.io/#/configurations

You can also just ignore the warning

[2021-09-03 12:18] #216 closed

[2021-09-03 12:22] Timu57 commented on #214
@REDAL

You wrote that you have benchmark results. Would be awesome if you could share them with us.
Then we can show them on the documentation page.

[2021-09-03 12:23] Timu57 commented on #215
@REDAL Yes, that sounds good

[2021-09-03 13:52] redaloui commented on #214
@Timu57
You miss understood me, the first time I did siggested to do one, then, it was done by @johnnestebann .

After, I suggested to add it to the documentation page, so new comers undersrand the potential of SleekDB and adopt it quickly 💙

[2021-09-06 13:53] REDAL opened #217 "Update on exists functionality"
Hi SleekDB,

How about the update on existing functionality?

kind regards

@rakibtg @Timu57

[2021-09-06 13:57] Timu57 commented on #217
Hi @REDAL
Can you please specify which functionality you mean?

[2021-09-06 14:01] REDAL commented on #217
I am referring to the "Insert into a MySQL table or update if exists" functionality

where the user makes an insert, and when adding an update if exists parameter, the system checks before insert if exists, if so, it makes an update, rather than raising an error.

check this MySQL query

INSERT INTO table (id, name, age) VALUES(1, "A", 19) ON DUPLICATE KEY UPDATE
name="A", age=19

[2021-09-06 14:53] REDAL commented on #217
it's the inverse of SleekDB updateOrInsert()

user insert, if the record exists, the library update the record

[2021-09-06 15:30] Timu57 commented on #217
@REDAL
If I understand you correctly, the method `updateOrInsert()` does exactly what you want.

If an document does not exist, it will be created/inserted. If it exist, it will be updated.

[2021-09-06 15:32] REDAL commented on #217
@Timu57
I am talking of the inverse of update or insert

insert the record, if it does exist, update it, like the MySQL query referred to above

[2021-09-06 15:36] Timu57 commented on #217
@REDAL
Yes, insert the document (if it does not exist).
If it exist, update it.

I think the opposite of that wouldn't make sense, would it?

[2021-09-06 15:39] REDAL commented on #217
actually, it does, otherwise, Mysql will not add it ;),

but, I'll tell why I use it, basically to bypass try-catch statements when the record does exist, or not to check if the record does exist before updating it.

it's the same use case of updateorinsert, simply the inverse operation,

[2021-09-06 15:49] Timu57 commented on #217
@REDAL

So you mean you want to do the following case?

If the document exists, insert it.
If the document does not exist, update it.

I think your SQL-Statement doesn't do that?

As I see it your SQL-Statement does the following:

Insert the document.
BUT if it exists, update it.

And that is exactly what `updateOrInsert()` does.

Please correct me if I'm wrong.

[2021-09-06 15:53] REDAL commented on #217
@Timu57

For the Mysql Query, Actually, it does insert the record, and if it exists it update it :

INSERT INTO table (id, name, age) VALUES(1, "A", 19) ON DUPLICATE KEY UPDATE
name="A", age=19

for SleekDB query command updateOrInsert(), please forgive my ignorance, I thought, that it does only update if not existing create it, in this order, I translated the sequence literally like the command n

[2021-09-06 16:05] Timu57 commented on #217
@REDAL

Don't sweat it, nothing to forgive.
Please feel free ask anything if you have questions.
I'm glad I was able to clarify it for you :blush:

It's the same to write:
Insert the document if it does not exist or update it, if it does exist.
OR
Update the document if it does exist or insert it, if it does not exist.

The opposite case, to update something that does not exist or insert it, if it

[2021-09-06 16:05] #217 closed

[2021-09-07 17:23] armanist opened #218 "lastQuery, queryLog, rawQuery"
Is there a way or need to have these methods available

lastQuery() - returns the last executed query
queryLog() - returns all the queries executed in that session
rawQuery() - a way to raw sql statements

[2021-09-08 13:27] armanist commented on #218
Hi @Timu57,

I'm just thinking to integrate SleekDB into my framework I'm currently working on, it's already has an ORM which primarily uses PDO so relational databases and which already have the above mentioned methods.

So I'm thinking to have some common adapter class  which based on driver (mysq, sqlite or sleekdb) will use its methods.

The  `lastQuery()` - is the last executed query... not s

[2021-09-08 13:39] Timu57 commented on #218
@armanist
Ok, I now understand what you what you want to do :)

The thing is, that SleekDB is a database solution that lives inside your PHP application. No connection / interface is required. So PDO is not needed.

I am currently working on rewriting the database to implement transactions. Then features like lastQuery and queryLog will be possible.

But as mentioned, SleekDB is a database that yo

[2021-09-18 01:34] REDAL opened #219 "SleekDB+"
Hi @Timu57

I've read that you are working on a new SleekDB, like rewrite from scratch

in the next release of SleekDB, that you are working on, what do you think about considering these features  ;)

- encryption
- param to regroup files in span folders (1 - > 1000 rows and so)
- as you know, opening and closing files, takes time, and if we can save multiple rows in a single file, it will be fast

[2021-09-23 13:14] jeffshead opened #220 "SleekDB permission issue"
I host my own Linux web server. I have multiple domains and each domain is a separate Linux user. I have a small, simple web app which will use SleekDB. The web app will be hosted on a single domain but it will be used across different domains. I have a PHP file which can be included on any web page, on any of my self-hosted domains. On the pages where this file is included, I capture user info wh

[2021-09-25 02:07] REDAL commented on #219
@rakibtg  @Timu57
any thoughts!

[2021-09-27 19:20] Awilum commented on #214
Any benchmarks for SleekDB exists?

[2021-09-27 19:30] Awilum commented on #215
I can't get it. SleekDB (with cold cache) is much slower than Sqlite3 ?

[2021-09-27 23:40] redaloui commented on #220
@jeffshead
Hi,
I did that by simply send get or post to the remote server.
Also you can do it via ajax, if you are using it already to post form data.
For the permissions,  indeed, I didnt got that issue, cause SleekDB do that. But may be it is related to your server config.
But anyway, you can cmod easily with php if needed.
https://www.php.net/manual/en/function.chmod.php

[2021-09-28 15:35] Awilum commented on #215
@redalou
<img width="684" alt="Screenshot 2021-09-28 at 18 34 07" src="https://user-images.githubusercontent.com/477114/135119069-ec0e6b82-b4ab-40b6-a9f2-cdc8a220ab31.png">
i

[2021-09-28 15:41] REDAL commented on #215
@Awilum
![image](https://user-images.githubusercontent.com/7544360/135119985-b811ae6d-c9c5-4ed5-998f-9c036a61e7fb.png)

I am not the one who did the benchmark, but are you referring to the writing or the reading being slow?

[2021-09-28 17:59] redaloui commented on #215
@Awilum
Hi again Sergey,
Thank u for the feedback,
For the lib being slow on cold cache, thats right, thats why, we have caching fonctionality, when the cache is empty (comd) for sure it will be slow, because it will read the data and creates the cache, but, the second time u do it, it will be amazingly fast.
If u can help with anything you are very welcome

[2021-09-30 08:23] sanmayad opened #221 "findBy not working when searching for an integer field"
Hey

if bind parameter is like following no result is shown for findBy
`[['author_id','=',25]]`

Please make me understand, do I need to typecast or anything?

[2021-09-30 11:18] Timu57 commented on #221
Hi @sanmayad
the condition '=' is type safe. It is an alias for '==='.
You can use '==' to make a type unsafe comparison.
https://sleekdb.github.io/#/criteria

[2021-09-30 11:20] Timu57 commented on #220
Sounds like a great idea to implement a configuration, that allows the user to control the folder and file permissions.

[2021-09-30 11:27] Timu57 commented on #219
Hi @REDAL
I considered implementing encryption. But I thought, that implementing it wouldn't make a whole lot of sense and slow down the database even further.
Splitting the database into multiple folders with 5000 files each will be implemented :grin:
I have to think about including multiple documents into one file a little bit more. If we implement that kind of solution, we have to make sure it

[2021-09-30 13:31] sanmayad commented on #221
okay, understood thanks :)

[2021-09-30 13:31] #221 closed

[2021-10-01 06:51] yssunjoko opened #222 "fetching document without a field"
Hi guys,
some documents in my store have a boolean field `is_deleted` while some others do not.
How can the documents without the field be fetched out?
I know this should be simple.

[code]

Thank you for any helpful suggestion.

[2021-10-09 23:29] Timu57 commented on #222
@yssunjoko
I just remembered.
You can always use closures to use custom functionality.
Just like in Example 4 on this page: https://sleekdb.github.io/#/criteria

[code]

[2021-10-10 01:09] Timu57 commented on #222
With [version 2.13](https://github.com/rakibtg/SleekDB/releases/tag/2.13) we introduced the new "EXISTS" condition to check for fields.
Feel free to reopen this issue if needed.

[2021-10-10 01:09] #222 closed

[2021-11-03 17:05] KoljaL opened #225 "CRUD API like semation.com"
Hello Kazi & Timucin,
thank you very much for the work you have done with SleekDB!
The idea of storing data in JSON files is as simple as it is ingenious.

For my next application, I would like to build on it. But since the frontend is designed with Vue,
I still need an API to get the data via URL request from my webserver.
The docs don't say anything about an API and a quick search only resulted

[2021-11-12 23:02] Timu57 commented on #225
Hi @KoljaL
Thank you for your interest.
Currently SleekDB has no ready to use API implementation.
You can use SleekDB as a "in software database".
With SleekDB you can build your own API backend.
I am currently working on a headless CMS using SleekDB.
When it's finished, you will be able to use that as an API backend powering your Software.

[2021-11-14 09:42] KoljaL commented on #225
Hi @Timu57
Thank you for your answer.
In the meantime, I have read a little more about SleekDB and have developed my project further.
I probably don't need a "real" API, but exactly what you meant by "software database".

I'm curious about your CMS, is there already a pre-release?

[2021-11-24 06:14] #225 closed

[2022-01-03 08:14] REDAL opened #226 "apply filter on store result"
@rakibtg  @Timu57

Hi SleekDB,

I was thinking if you could add functionality that allows users to manipulate store result array by applying multiple sorting and selecting filters instead of doing a new query.

for example :
suppose I did a query, then I got a list of rows, and I want to apply a filter on those rows, instead of doing a new query with a new condition.

like when I get a result of r

[2022-01-11 13:16] s427 opened #227 "InvalidArgumentException: Order has to be a string!"
Hi,

I'm just starting using SleekDB and ran into this problem:

The following request runs fine:
`$data = $mainDb->findAll();`

However when I try to add parameters:
`$data = $mainDb->findAll([["name" => "desc"], 1, null]);`

I get the following error message:

Fatal error: Uncaught SleekDB\Exceptions\InvalidArgumentException: Order has to be a string! Please use "asc" or "desc" only. in \SleekDB

[2022-01-21 05:04] Timu57 commented on #227
Hi @s427
You used the method wrong.
`findAll` does have 3 optional parameters. https://sleekdb.github.io/#/fetch-data#findAll

The problem is, that you used just one array.

In your case right usage would look something like this:
[code]

[2022-01-21 05:04] #227 closed

[2022-01-22 10:08] rakibtg commented on #226
Hi @REDAL I think this is a great idea. Will look into it. :)

[2022-01-22 12:19] REDAL commented on #226
@rakibtg
Hi Mr. Hasan,
hope you doing fine,
I see that SleekDB is in sleep for a while, not even an answer for questions ! just hope this project stay alive, because we really love it, and personally I did started using it for an interesting project, that I hope can rely on it.

best regards

[2022-01-24 22:18] Timu57 commented on #226
Hi @REDAL
Thank you for your feature request.
You don't need to worry.
SleekDB is still maintained and we currently don't have any unanswered issues/ questions.
SleekDB is alive and will not die.

[2022-01-25 20:59] rakibtg commented on #226
@REDAL SleekDB will not gonna die :)

Thank you @Timu57 for all the great efforts and contributions towards SleekDB 💯

[2022-02-23 01:29] wingfranky opened #229 "Searching properties which is array"
Hi~ I am new to SleekDB. I love SleekDB without separate installation and can store data as JSON files. I am looking for NoSQL alternatives that are similar to SQLite. I can use it to build MVP or cache external API responses.
While I am trying it, it seems that it cannot search document properties which is an array?

For example:

$person  = [
  "name"=>"Peter Chan",
  "variantnames"=>[
  "Peter

[2022-02-23 14:22] Timu57 commented on #229
Hi @wingfranky
Welcome to our SleekDB community.

Feel free to join our discord server and ask for help there.

We are planning on providing a build in solution for that use case with the next major release.

Until then the only way to search through an array is by using a custom function.

In your case that would look something like this:

[code]

Please have a look at Example 4 on the $criteria

[2022-02-24 02:53] wingfranky commented on #229
Thanks! I write something like this to solve the problem. It will be good enough for building MVP and prototype. :)

[code]

[2022-02-24 06:58] wingfranky commented on #215
Hi~
Adding SQLite with index can further improve this. Allow indexing sounds natural if we want to boost the searching performance.

1. Create the Store as a table with columns `id` and the field you want to index, say `title`
2. Create an index for that column.
3. Insert the `_id` in SleekDB store and the column data into the SQLite table
4. Do searching for SQLite to get the `id` list
5. Use `$s

[2022-03-22 03:39] sheikhhaziq opened #230 "When can we expect encryption"
I'm currently working on a project where i want to use SleekDB. i want to store data with encryption. I know you are working on encryption but when can i expect that. For now i am setting Directory permission to owner only. But having encryption too will enhance security.

[2022-04-03 21:34] bahramzade opened #231 "insert one json file"
Hello, when it runs, it creates a new file every time
how to make that would add data to one json file?
_id1 ?

$userStore = new Store('users', __DIR__ . "/database");
$user = [
    'name' => 'Kazi Hasan',
    'products' => [
        'totalSaved' => 19,
        'totalBought' => 27
    ],
    'location' => [
        'town' => 'Nagar',
        'city' => 'Dhaka',
        'country' => 'Bangladesh'

[2022-04-03 22:03] bahramzade commented on #231
one json, another data insert.
old data saving new  line

[2022-04-05 11:48] xavierfoucrier commented on #231
Expected behavior, duplicate of #176.

[2022-05-07 20:20] basteyy opened #232 "[Suggestion] Add support for JSON_PRETTY_PRINT"
While developing, I often need to check the results inside the JSON. In bigger files, it's hard to keep an overview. So, I suggest adding the option [JSON_PRETTY_PRINT](https://www.php.net/manual/de/json.constants.php#constant.json-pretty-print) (by default deactivated). Any thoughts?

[2022-05-08 08:23] Timu57 commented on #232
Hi @basteyy
I see how that could benefit the development workflow.
Currently you can query the documents to inspect/ dump their content.

That said, you are welcome to implement such a feature

Feel free to ask for help if needed :blush:

[2022-05-08 08:33] Timu57 commented on #231
Like @xavierfoucrier said.

That is how SleekDB currently works.

We plan on implementing a "One File" solution in the future.
Unfortunately that is easier said than done in PHP.
We currently have an idea how we could make it work, but need to resolve some problems to implement it in an efficient and good way.

I am closing this issue for now. Feel free to reopen it if needed.

[2022-05-08 08:33] #231 closed

[2022-05-08 08:38] Timu57 commented on #229
Your solution looks good :blush:

I am closing this issue for now. Feel free to reopen it if needed.

[2022-05-08 08:38] #229 closed

[2022-05-15 10:03] mitmelon commented on #29
To my own suggestion. The best way and easy way to add encryption to sleek is to encrypt the documents and decrypt it back for reading and writing.

Extract document contents and encrypt it...

During document creation, user will pass an option like

$options ['encrypt' => true]

Then the documents generates a key and use it to encrypt the document then pass then pass the key to the user for stori

[2022-05-15 10:06] mitmelon commented on #29
This is the most efficient way of doing this... But this feature request has been over a year now and yet nothing has been done to implement this...

I think it's best if developers implement this themselves...

[2022-05-18 13:36] REDAL commented on #140
@rakibtg @Timu57

for the length, sure, not all the columns have the same length, but we can achieve that by adding an open and close tag to the file, so we can access directly the part of the record within the file

example :
<!-rec01>
      {
      "_id":1,
      "name":"John",
      "age":30,
      "cars":["Ford", "BMW", "Fiat"]
      }
</--rec01>

<!-rec02>
      {
      "_id":2,
      "name":

[2022-05-19 19:01] blessedjasonmwanza opened #233 "Math & Logic operations"
Is it possible to implement math operations such as SUM, AVG, and MIN?

I am planning on adopting SleekDB for our DB infrastructure, however - I can't seem to find some special and/or aggregate functions documented. Any help will be appreciated on this.

[2022-05-19 20:51] Timu57 commented on #233
Hello @blessedjasonmwanza
You can use the select method of the QueryBuilder to use "select functions".

In addition to the build in functions like CONCAT, SUM, AVG and more, you can easily implement "custom functions".

You can see the usage in the examples and if you need more help or advice feel free to join the discord.

Link to the select documentation:
https://sleekdb.github.io/#/query-builde

[2022-05-20 14:25] blessedjasonmwanza commented on #233
Thanks a lot, @Timu57 👨🏽‍💻

[2022-05-20 14:26] #233 closed

[2022-05-21 20:47] basteyy commented on #167
I suggest for a first release to create a json_encode Encoder/Decoder (Wrapper) and an Interface for that.

[code]

[2022-07-03 01:44] REDAL opened #236 "nested column select and distinct return empty array"
@Timu57  @rakibtg  @robkellas  @daussho

Hi SleekDB Team,

I am trying to retrieve data from a 2-dimensional array

data array in json file :

"cquantCli": [
        {
            "cprcCli": "47",
            "camo": "48",
            "ctyp": "1",
            "cdsc": "49"
        },
        {
            "cprcCli": "50",
            "camo": "51",
            "ctyp": "2",
            "cdsc": "52"

[2022-07-04 21:51] REDAL opened #237 "simple join approach"
Hi SleekDB community,

I did found a library that use a simpler approach for joins ,

$users = $db->collection('Users');
$comments = $db->collection("Comments");
$users->where('id', '=', '1')->join($comments, 'user_id', 'id')->fetchArray()

what do you think to implement it like that in a future release?

credits : dwgebler

@Timu57 @rakibtg

[2022-07-05 00:29] REDAL commented on #232
@basteyy
maybe it is a little bit late,
but it's a simple workaround, if you want to do it yourself,

open store.php

make a search and replace for this

search for

`json_encode($data)`

replace it with

`json_encode($data, JSON_PRETTY_PRINT))`

in all occurrences

hope it will help you :)

[2022-07-07 16:34] Timu57 commented on #236
Hi @REDAL
your query is wrong for your data-structure. Like we discussed in discord you can use custom select functions to query the cquantCli array.
I will close this issue for now, feel free to reopen it if needed :blush:

[2022-07-07 16:34] #236 closed

[2022-07-09 12:37] Timu57 commented on #236
@REDAL I know, I just repeated the solution/answer here for people having a similar problem :)

[2022-07-12 17:00] REDAL opened #238 "SleekDB Extension of builtin "named functions" by users"
Hi SleekDB Community,
what do you think of, applying given functions on selected columns,
for example, I need to use hash sha256 on '_id'

could/should be available for "select", "insert" etc.

container->createQueryBuilder()->select(["hashed_id" => hash("sha256", "_id"), "username"])->getQuery()->fetch();

rather than, saving a new column with hashed data, or remapping the array, when returned an

[2022-07-29 12:36] robiningelbrecht opened #239 "Allow to use UUIDs as primary keys"
At this moment in time primary keys have to ne numeric:

`The id of the document has to be numeric`

I like to use https://github.com/ramsey/uuid to generate UUIDs for my entities, but I'm not able to use them as my primary key because they are not numeric. Is there a reason why there's such a restriction?

[2022-07-29 17:07] Timu57 commented on #239
Hi @robiningelbrecht

Thank you for your interest and feature request.

When refactoring the project there were some considerations that lead to that decision.

1. **Backwards compatibility** - Version 1 of SleekDB already had that restriction, so changes to that functionality need to be done well and backwards compatible.
2. **Ease of use and implementation** - Currently SleekDB internally increa

[2022-07-31 13:07] robiningelbrecht commented on #239
Hi @Timu57,

I certainly don't wat to introduce `ramsey/uuid` as a dependency in the codebase. I was just wondering why strings are not supported as primary keys. I'll join the Discord server to discuss this PR :)

[2022-09-11 11:27] SmpManeth opened #240 "How to Run SleekDB"
I'm New to SleekDB. How to run the DB?
Please Can someone give me Assistance with learning in sleekdb?

[2022-09-11 17:21] Timu57 commented on #240
Hi @SmpManeth welcome to sleekdb :)
I would recommend to join our discord server. There are many veterans who love to help newcomers :)

https://discord.gg/WJGqUFPtZw

Regardless of that, you just need to follow the documentation 😊
And if you encounter problems you are welcome to ask for help on discord.

[2022-09-25 04:28] jholmes001 opened #241 "JSON Wildcard Notation"
Hi!

Here's an example of a JSON document that's inserted into a store called 'search_index'.

[code]

I'm trying to setup a search fetch using the code below:
[code]
I want "job_title" and "job description" fields (which are sub-fields of "SOC") to be used as fields to search for, using JSON notation as described in the documentation. However, the sub-fields are always different numbers so I'd li

[2022-09-25 04:35] jholmes001 commented on #240
I just set this up today and found it extremely easy. The documentation is easy to follow here: https://sleekdb.github.io/.

[2022-09-27 18:58] Timu57 opened #242 "Incorrect escaping of characters?"
When using LIKE and NOT LIKE we escape a bunch of characters that are part of regular expression to make them available for search.
It seems the escaping is incorrect.

preg_match is used: https://www.php.net/manual/en/function.preg-match.php
PCRE regex syntax: https://www.php.net/manual/en/reference.pcre.pattern.syntax.php

**Note**: We also need to escape `/` because it is used as delimiter.

ht

[2022-09-28 00:45] #242 closed

[2022-09-28 01:34] Timu57 commented on #241
Currently there is no`*` wildcard notation.
We are looking forward to implement such a feature with the next major release.
For now you should think of another data structure :blush:

[2022-09-30 01:33] REDAL commented on #240
Just include store.php
and add names spaces above the PHP file
use SleekDB\Store, SleekDB\Query;

as mentioned above, its super easy, just follow the documentation
https://sleekdb.github.io/

regards

[2022-09-30 04:43] SmpManeth commented on #240
Thank you So much guys. I found the Documentation very usefull.

[2022-09-30 04:43] #240 closed

[2022-10-04 18:05] Jakiboy commented on #220
I'm experiencing the same issue, I would like the possibility of implementing a configuration for that,

[2022-10-16 22:30] Timu57 commented on #220
@Jakiboy Thank you for your contribution :heart:

[2022-10-16 22:30] #220 closed

[2022-11-23 15:48] armanist opened #246 "Select with alias at join"
In the documentation (QueryBuilder section) there is an example how to use `select()` method and filter the columns.

There is no much insights about it, but assuming the `userBiography` is a table that was joined with `users` table?

When I'm trying to use dot notation like `userBiography.age` in the result set it's always `null`

Example 2
Retrieve just the age of all users as age.
Note: The age

[2022-11-25 11:52] armanist commented on #246
I can give more insights if required, I just need to know it's not supported or I'm doing something wrong?

[2022-11-25 18:36] Timu57 commented on #246
Hi @armanist thank you for your question.
Sorry for the late response.

If you want to use select after a join it should be possible.
You can read more about that at https://sleekdb.github.io/#/execution-order

Could you please provide an example result without the select? Perhaps I can then help you with what is going wrong 😊

[2022-11-25 19:02] Timu57 commented on #246
@armanist I think I know what the problem is:

[code]
As you can see `userBiographies` is an array of documents.

Now you can try the following to select:

[code]

We are aware of the problem with selection of arrays with a wildcard like `userBiographies.*.age` or to do a one to one join. We plan on implementing it with the next major update :blush:

Hope I could help :grin:

[2022-11-26 20:05] armanist commented on #246
Hi @Timu57, thank you very much for great details, I will try your suggested way above `->select(['age' => 'userBiographies.0.age'])` and will let you know here, wildcard implementation will be great addition though ( `userBiographies.*` ). Meantime you can have look at SleekDB integration to the framework we are developing https://github.com/softberg/quantum-php-core/tree/master/src/Libraries/Dat